/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : 08.01.2025, 15:09:31
    Author     : tim
*/

@font-face {
    font-family: "summernote";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("#{$relativeUrl}extras/summernote-0.9.1/font/summernote.eot?#iefix") format("embedded-opentype"), url("#{$relativeUrl}extras/summernote-0.9.1/font/summernote.woff2") format("woff2"), url("#{$relativeUrl}extras/summernote-0.9.1/font/summernote.woff") format("woff"), url("#{$relativeUrl}extras/summernote-0.9.1/font/summernote.ttf") format("truetype");
}
/* line breaks in toolbar with [break]*/
.note-break {
	display: block;
	margin-top: 0px !important;
}