/* fonts - set empty string fontFile, if you wish to not include a fontface to fontfiles*/
$fontFamily: 'QuattrocentoSans';
$fontFormat: 'woff2';

$fontBaseDir: $relativeUrl+'theme/'+$siteStyle+'/css/fonts/';
$fontFileRegular: 'QuattrocentoSans/QuattrocentoSans-Regular.woff2';
$fontFileBold: 'QuattrocentoSans/QuattrocentoSans-Bold.woff2';
$fontFileItalic: 'QuattrocentoSans/QuattrocentoSans-Italic.woff2';
$fontFileItalicBold: 'QuattrocentoSans/QuattrocentoSans-BoldItalic.woff2';

$fontFamilyMono: '';
$fontFileMono: '';

/* header area colors*/
$headerBgColor:#dddddd;
$headerBorderColor:#333333;
$headerColor:#333333;
$headerOpacity:0.0;

/* navigation buttons colors */
$navButtonColor:#333333;
$navButtonBgColor:transparent;

/* icon Colors */
$appIconColor:#993333;
$logoutIconColor:#ffffff;
$svgIconLightColor:#ffffff;
$svgIconDarkColor:#000000;
$rssIconColor:$appIconColor;

/* logo */
$logoUrl:'theme/'+$siteStyle+'/images/logo.png';
$logoContainerWidth:270px;
$logoContainerHeight:70px;
$logoSize:auto 70px;
$logoPosition:left top;

/* body */
$bodyColor:#000000;
$bodyBgColor:#eeeeee;
$bodyBgImageUrl:'theme/'+$siteStyle+'/images/karotextur.jpg';

/* content area colors */
$contentColor:#000000;
$contentBgColor:#eeeeee;
$contentBorderColor:#333333;
$contentOpacity:0.5;

/* boxes and shadows */
$boxShadowColor:#333333;
$boxBorder:1px solid $contentBorderColor;

/* messages */
$systemMessageColor:#339933;
$errorMessageColor:#993333;
$maintainanceNoticeColor:#ffffff;
$maintainanceNoticeBgColor:#cc9999;
$maintainanceNoticeBorderColor:#cc3333;

/* headline colors */
$h1Color:#cc0000;
$h2Color:$h1Color;
$h3Color:$h1Color;
$h4Color:$h1Color;
$h5Color:$h1Color;
$h6Color:$h1Color;

/* link colors */
$aLinkColor:#cc0000;
$aHoverColor:#cc9999;

/* blockquote colors */
$blockquoteColor:#333333;
$blockquoteQuotesColor:#666666;
$blockquoteSpanColor:#999999;

/* form/input colors */
$inputColor:$contentColor;
$inputBgColor:#ffffff;
$inputBorderColor:#cc9999;
$inputFocusBorderColor:#ffff00;
$ckeditorUiColor:$contentBgColor;

/* button colors */
$buttonColor:#000000;
$buttonBgColor:#cccccc;
$buttonPrimaryColor:#ffffff;
$buttonPrimaryBgColor:#cc0000;
$buttonErrorColor:#ffffff;
$buttonErrorBgColor:#993333;

/* Accessibility */
$focusOutlineColor:$aLinkColor;
$focusOutlineSize:1px;
$focusOutlineStyle:dotted;

/* footer */
$footerBgColor:$headerBgColor;
$footerColor:$headerColor;
$footerBorderColor:$headerBorderColor;
$footerOpacity:$headerOpacity;
$footerTextAlign:right;
$footerHeight:auto;
$footerPosition:sticky;
