<a href="?main&period=<?php echo$period?>"><?php echo $this->ts('main') ?></a> <a href="?seo&period=<?php echo$period?>"><?php echo $this->ts('seo') ?></a> 
<a href="?users&period=<?php echo$period?>"><?php echo $this->ts('users') ?></a> <a href="?sites&period=<?php echo$period?>"><?php echo $this->ts('sites') ?></a>
<br/>
<a href="?<?php echo$tpl?>&period=year"><?php echo $this->ts('year') ?></a> <a href="?<?php echo$tpl?>&period=month"><?php echo $this->ts('month') ?></a> 
<a href="?<?php echo$tpl?>&period=week"><?php echo $this->ts('week') ?></a> <a href="?<?php echo$tpl?>&period=day"><?php echo $this->ts('day') ?></a> 