@charset "utf-8";

/**
 *  Copyright © 2010 Tim Wahrendorff
 *  tim[at]timwahrendorff.de
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see:
 *  http://www.gnu.org/licenses/gpl-3.0-standalone.html.
 *
 *	$Id: $
 *	Files Purpose:
*/
/**
 * global definitions
*/

#header{
    display: flex;
    top: 0px;
    z-index: 4;
    height: auto;
    width: 100%;
    border-bottom: 1px solid $headerBorderColor;
    color:$headerColor;
    padding-top: 10px; 
    padding-bottom: 10px; 
    
    background-color: $headerBgColor;

    filter: alpha(opacity=($headerOpacity*100));
    -moz-opacity: $headerOpacity;
    -khtml-opacity: $headerOpacity;
    opacity: $headerOpacity;
}
#logoArea{
    float:left;
}
#logoArea > a{
    text-decoration: none;
}   
div.svgImage {
    display: inline-block;
}
div.logo {
    border:0;
    padding: 0 0px 0 15px;
}
.logo > svg{
    height:40px;
    width:60px;
}
div.logoSchrift{
    border:0;
    width:auto;
    height:40px;
    margin: 0 10px 0px -4em;
}
#navigation {
    flex-grow: 2;
    height: auto;
}
#navigation{
    width:auto;
/*    position: absolute;*/
    max-height: 0;
    top: 51px;
    left: 0px;
    z-index:1000;
    background-color: $headerBgColor;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    border-bottom: 0px solid $headerBorderColor;
    border-right: 1px solid $headerBorderColor;
    border-radius: 0px 0px 3px 0px;

    /* with sticky headers, we need the navigation to be scrollable at some point for inferior mobile devices*/
/*    max-height: 0;*/
    overflow-y: hidden;
    }
    /*    #navLinks{
            background-color: #333;
        }*/
    .default_element, .default_selected{
        display: block;
    }
#navigation.navOpen{
    display: flex;
    animation: navOpen 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}
#navigation.navClose{
   
    max-height: 80vh;
    overflow-y: hidden;
    animation: navClose 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}
#navLinks a{
    margin:5px;   
}
#login{
    display:flex;
    right: 10px;
    top: 0px;
    float:right;
    width: auto;
    height: auto;

    text-align: right;

    padding: 0px 0px 0px 0px;
}
.loginButton{
    /*    margin-top: 10px;*/
    /*    margin-right: 5px;*/
}
#cookieWarningContainer {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 0.3em;
    
}
#cookieWarning {
    display: inline-flex;
    flex-direction: row;
    background-color: $contentBgColor;
    border: $boxBorder;
    align-items: center;
    justify-content: center;
    padding: .3em;
    width: 90%;
    max-width: 72em;
    
}
#cookieWarning .cookieWarningImg{
    order: 1;
    flex-grow: 1;
    width:36px;
    text-align: center;
}
#cookieWarning .cookieWarningText{
    order: 2;
    flex-grow: 10;
    text-align: center;
    margin: 0em 0.5em 0em 0.5em;
/*    font-size: 10pt;*/
    color: $contentColor;
}
#cookieWarningButton{
    order: 3;
    flex-grow: 1;
    
}
#content{
    position: relative; 
    height: auto;
    width: 90%;
    max-width: 72em;
    margin-left:auto;
    margin-right:auto;
/*    margin-bottom: 10px;*/

    padding: 0.3em;
/*    padding-bottom: 2.5em;*/

    border-left: 2px solid $contentBorderColor;
    border-right: 2px solid $contentBorderColor;
    border-bottom: 2px solid $contentBorderColor;
/*    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
    z-index:1;

    color: $contentColor;

    word-break: normal;
    overflow: hidden;
}
#content iframe{
    max-width: 100%;
}

#content_bg{
    position: absolute; top:0px; bottom:0px; right:0px; left:0px;
    background-color: $contentBgColor;

    filter: alpha(opacity=($contentOpacity*100));
    -moz-opacity: $contentOpacity;
    -khtml-opacity: $contentOpacity;
    opacity: $contentOpacity;

    z-index:-2;
}

#onlineUsersBar{
    /*    display:none;*/
    color: $contentColor;

    position: relative;
    top: 2px;
    height: auto;

    min-height: 20px;
    width: 90%;
    max-width: 72em;
    margin-left:auto;
    margin-right:auto;

    padding: 0.3em;

    border: 1px solid $contentBorderColor;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background-color: $contentBgColor;

    filter: alpha(opacity=($contentOpacity*100));
    -moz-opacity: $contentOpacity;
    -khtml-opacity: $contentOpacity;
    opacity: $contentOpacity;

    z-index:0;
}

#notifications{
    position:absolute;
    top: 51px;
    right: 0px;
    width: 300px;
    text-align: left;
    background-color: $headerBgColor;

    border-bottom: 1px solid $headerBorderColor;
    border-left: 1px solid $headerBorderColor;
    border-radius: 0px 0px 0px 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top:5px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    z-index: 1010;
}
.notification img{
    max-width: 120px;
}
.notification{
    margin-bottom: 3px;
}
.notificationsBox .unread{
    background-color: #666;
}
.notificationsBox .unread a{
    color:#fff;
}
.notificationsBox .unread:hover{
    background-color: #999;
}
.notificationsBox img{
    max-width: 100%;
}
#notificationIcon{
    top: 10px;
    right: 5px;
}
#notifications .nick{
    color: #cc0000;
    vertical-align: top;
}
#notifications .notificationsBox a{
    color: #fff;
}
#notifications .time{
    color: #000;
    font-size: 8pt;
    padding-left:3px;
}
#notifications .notificationMessage{
    vertical-align: top;
    padding-left:3px;
}
#settingsButton{
    top: 10px;
    right: 0px;
    font-weight: bold;

    z-index: 1010;
}
#settingsButton img{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#adminBar{
    position:absolute;
    top: 51px;
    right: 0px;
    background-color: $headerBgColor;
    text-align: left;
    border-bottom: 0px solid $headerBorderColor;
    border-left: 1px solid $headerBorderColor;
    border-radius: 0px 0px 0px 3px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 1002;
    /* with sticky headers, we need the <br/>gation to be scrollable at some point for inferior mobile devices*/
    max-height: 0;
    overflow: hidden;
}

#adminBar.navOpen{
    animation: navOpen 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}
#adminBar.navClose{
    max-height: 80vh;
    overflow-y: hidden;
    animation: navClose 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}

@keyframes navOpen {
    50% {max-height: 40vh; border-bottom: 0px solid $headerBorderColor;}
    100% {max-height: fit-content; border-bottom: 0px solid $headerBorderColor;}
}
@keyframes navClose {
    100% {max-height: 0; border-bottom: 0px solid $headerBorderColor;}
}

.admin_element, .admin_selected{
    display: block;
    text-align: left;
    margin:5px;
}

/**
* Menu
*/
.default_element, .default_selected{
    display: inline-block;
    text-align: left;
}
.default_element a:hover , .default_element a:focus{
    color: #fff;
    /*text-shadow: -4px 4px 10px #fff, 4px -4px 10px #fff, 4px 4px 10px #fff, -4px -4px 10px #fff;  
    */
}

a.default_selected{

    color: #fff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00349933', endColorstr='#ff349933', GradientType=0);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(255,255,255,.15)),to(rgba(255,255,255,.31)));
    background-image:-webkit-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:-moz-linear-gradient(top,rgba(255,255,255,.15) 0,rgba(255,255,255,.31));
    background-image:-ms-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:-o-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}



/*
#language_chooser .lang_element{
    

}
.lang_element{
    display:block;
    float:left;
    padding-right: 3px;
}*/

#footer {
    position: $footerPosition; bottom: 0px;
    text-align: $footerTextAlign;
    background-color: $footerBgColor;
     opacity: $footerOpacity;
     height: $footerHeight;
     z-index: 1000;
     padding: 0.3em 0 0.3em 0;
/*    display:none;*/
/*    clear: both;
    
    height: 20px;
    width: 100%;
*/
   
}
#footer div{
/*    position:absolute;
    bottom:0px; right:0px;
    padding:5px;*/
}
#footer a{
    color:#fff;
}
#sidebarLeft{
    position: absolute; left: 0px; top: 60px;
}
#sidebarRight{
    position: absolute; right: 0px; top: 60px;
    text-align:right;
    width:16%;height:500px;background:#eeeeee;
}

/**
* Language Chooser
*/
#language_chooser{
    display:block;
    float:left;
    padding-right: 10px;
}

/**
 * header styles
 */
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}

.notificationBell{
    width:15px;
    height:15px;
}
.menuIcon{
    width:16px;
    height:16px;
    fill: $navButtonColor;
}

.profilpageIcon{
    width:15px;
    height:15px;
}

#search{
    
    text-align: right;
}
#search input[type="text"]:focus{
    border-color: $inputFocusBorderColor;
}
#s{
    display: inline-block;
    border-radius: 2px 0 0 2px;
    height:100%;
    border: 0px solid transparent;
    width: 10em;
    margin: 0;
}
.searchButton{
    margin: 0 0 0 -0.3em;
    border-radius: 0px 2px 2px 0px;
}
.searchButtonImg{
    width:15px;
    height:15px;
}

/**
 * image roll
 */
.imageRotator{
    display:block;
    /*    height: 300px;*/
/*    left: calc(-10000);*/
    overflow: hidden;

}
.rotateContainer {
    /*    display: inline;*/
    position:relative;
    width: 100%;
    padding:0px;
    margin:0px;
    /*    height: 300px;*/
    overflow: hidden;
}
.rotateContainer img{
    max-width: 100%;
}

.rotateContainer .imgSub{
    /*    height: 300px;*/
    position: absolute; 
    bottom: 0.3em;
    left:0px;
    display:inline;
    text-align: left;
    opacity: 0.5;
    background-color: white;
}
.rotateControl{
    display:none;
    position: absolute; 
    font-size: 150%;
    
}
.rotateControl a{
    text-decoration: none;
}