.commentsContainer{
    /*    display:none;*/
    height: 90vh;
    overflow-y:  auto;
    overflow-x:  hidden;
    box-sizing: content-box;
    padding: 0.3em;

    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    background-color: #fff;
}
.galleryBox{
    overflow: hidden;
    margin:0.2em;
}
.pic{
    position: relative;
    height: 20vh;
    overflow:hidden;
}
.galPic{

    max-height: 100%;
    vertical-align: middle;
}
.galPic img,.galPic video{
    /*    display: block;*/
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    max-height: 100%;

    vertical-align: middle;
}
video.galleryVideo{
    width:100%;
    vertical-align: middle;
}
.verticalAlignMiddle{
    vertical-align: middle;
}

.galNavi{
    text-align: center;
    padding-bottom: 3px;
    z-index: 2000;
}
.imageNavi{
    text-align: left;
    margin-top: -33px;
    z-index: 6000;
}
#fullOverlay.pictureOverlay{
    overflow: hidden;
    background-color: transparent;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
#backgroundCurtain{
    background-color: #000 !important;
    opacity: 0.7 !important;
}
.galleryThumb{
    display:block;
    margin:auto;
    min-width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.pictureThumb{
    display:block;
    margin:auto;
    min-width:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

div.galleryBox img.portrait{
    max-height: none;
    height: auto !important;
    max-width: 100% !important;
}
div.galleryBox img.landscape{
    /*    height:100%;
        width: auto;
        max-width: none;
        margin:auto;*/
    /*max-height: 120%;*/
    height:100% !important;
    width: auto !important;
    max-width: none;

}

.imageHolder{
    background-color: black;
    white-space: nowrap;

    text-align: center;
    min-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding-bottom: 0px;

}

.xtraInfo{
    padding-top: 0.5em;
    bottom: 0px;
    font-size: 75%;
}

.imageContainer{
    position: relative;
    min-height: 90vh;
    /*    background-color: #666;*/
}

.verticalAlignHelper{
    display: inline-block;
    box-sizing: border-box;
    height: 99%;
    vertical-align: middle;
}

#nextPic,#prevPic{
    position: absolute;
    top: 30%;
    width: 7em;
    /*    float:left;*/
    /*    background-color: #000;*/
    padding: 10vh 0 10vh 0;
    opacity: 0.1;
    vertical-align: middle;
}

#nextPic:hover,#prevPic:hover{
    opacity: 0.5;
}

#prevPic{
    left:0px;
    float:left;
}
#nextPic{
    right:0px;
    float:right;
}
#prevPic img,#nextPic img{
    position: relative;
}
#prevPic img{
    left:0;
}
#nextPic img{
    right:0;
    float:right;
}
div#preload {
    position: absolute;
    left: -10000px;
}
div#preload .prePic img{
    height: 1px;
    width: 1px;

}
.galleryName{
    font-weight:bolder;
    font-size:16pt;
    text-decoration: none;
}
#fullscrCloseButton{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
}
#playbackButton,#stopPlaybackButton{
    position: absolute;
    top: 0px;
    right: 35px;
    z-index: 1000;
}
/*#downloadButton{
    position: absolute;
    top: 0px;
    right: 70px;
    z-index: 1000;
}*/
#downloadButton{
    z-index: 1000;
}
.loadingSpinner{
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin-top: -40px; /* Half the height <--??? half the height does not work for me. Why?? */
    margin-left: -40px; /* Half the width <--??? half the width does not work for me. Why?? */
    z-index: 1000;
}
#progressSlide{
    position:absolute;
    top:0px;
    height: 2px;
    background-color: #D13131;
}
/*
* Usage:
*
* <div class="sk-spinner sk-spinner-wandering-cubes">
* <div class="sk-cube1"></div>
* <div class="sk-cube2"></div>
* </div>
*
*/
.sk-spinner-wandering-cubes.sk-spinner {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    position: relative;
}
.sk-spinner-wandering-cubes .sk-cube1, .sk-spinner-wandering-cubes .sk-cube2 {
    background-color: #333;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
    animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
}
.sk-spinner-wandering-cubes .sk-cube2 {
    background-color: #D13131;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/**
 * comments
 */

.nick{
    color: #D13131;
    padding-left: 3px;

}
.nick a{
    text-decoration: none;
}
.time{
    display:block;
    color: #666;
    font-size: 8pt;
}
.comment_img{
    float:left;
    width: 2em;
}

.writeComment{

}
.insertComment{
    float:right;
}
.deleteComment{
    float:right;
}
.commentEntry{
    padding: 1em 0 1em 0;
    padding-top: 3px;
    margin-bottom: 5px;
}
.commentText{
    /*    padding-left: 36px;*/
    display:block;
    /*    padding: 0.1em 0 0.1em 2.5em;*/
}
.commentNick{
    color: #D13131;
    padding-left:3px;
}
.commentInputContainer{
    margin-left: 35px;

}
.nickImgInsertComment{
    float:left;
    width: 2em;
}
textarea.commentInput  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height:3.5em;
    overflow:hidden;
    font-size: 1em;
}
.placeholder{
    font-size: 0.8em !important;
    font-style: italic;
    color: #999;
}

.hidden{
    display:none;
}
.galleryIcon{

}

.pure-button-gallery,a.pure-button-gallery {
    /*     background-color: #D13131;
        color:#fff;*/
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 3px;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
svg.commentDeleteIcon, svg.commentSendIcon{
    width: 22px;
    height: 22px;

}
.commentDeleteIcon{
    float: right;
    fill: black;

}
.commentSendIcon:hover{
    fill: #3c3;
}
.commentDeleteIcon:hover{
    fill: #c33;

}

@media only screen and (max-width: 767px) {
    .pic{
        position: relative;
        overflow:hidden;
        min-height: 15em;
    }
    .pic img{
        width: 100%;
        height: auto;
    }

    .commentsContainer{
        /*    display:none;*/
        height: auto;
        overflow-x:  hidden;
        box-sizing: content-box;
        padding: 0.3em;

        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    #fullOverlay.pictureOverlay{
        overflow-y: scroll;
    }
}
