/**
*  MODULE CUSTOMIZATION
*/

/**
 * BLOG
 */

.imgBox{
    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
    padding: 0.2em;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0.5em;
}
.imgBox img{
    width:100%;
}
.imgSub{
    font-size: 90%;
    opacity: 0.7;
    line-height: 100%;
}
.rssIcon{
    fill:$rssIconColor;
}

/*
 * profilpage
*/
.user_nick{

    color: $contentBgColor;

    background-color: $aLinkColor;
    opacity: 0.75;
}
.followerNick{
    color:$contentBgColor;

    background-color: $aLinkColor;
    opacity: 0.75;
}
a.user_nickLink:link{
    color: $contentBgColor;
    background-color: $aLinkColor;
}
a.user_nickLink:visited{
    color: $contentBgColor;
}
a.user_nickLink:hover{
    color: $contentBgColor;
    opacity:0.5;
}
.user_image img{
    border: 1px solid $contentBorderColor;
    background-color: $contentBgColor;
}
.dashEntry{
    border: 1px solid $contentBorderColor;
    background-color: $contentBgColor;
    box-shadow: 1px 1px 8px $boxShadowColor;
}
.comments{
    border-top: 3px solid transparent;
    /*        background-color: #ccc;*/
}
.entryEditIcon:hover,.thumbUp:hover{
    fill: #3c3;
}
.entryDeleteIcon:hover,.thumbDown:hover{
    fill: #c33;
}
.commentDeleteIcon{
    float: right;
    fill: $buttonColor;
}
.commentSendIcon:hover{
    fill: $buttonPrimaryBgColor;
}
.commentDeleteIcon:hover{
    fill: $buttonErrorBgColor;

}

/**
 * SITE
 */

/*.pure-button-site{
    border: #aaa 1px solid;
}
.pure-button-site-activate{
    border: #aaa 1px solid;
}
.pure-button-site-deactivate{
    border: #aaa 1px solid;
}
.pure-button-site-activate{
    background-color: #afa;
}
.pure-button-site-deactivate{
    background-color: #faa;
}*/

/**
 * FILES
 */

/**
 * Image selection
*/

.imageTile{
    display: inline-block;
    width: 150px;
    height: 190px;
    overflow: hidden;
    /*     border: 1px solid black;*/
}
.imagePadding{
    position: relative;
    padding: 2px;
    overflow: hidden;
    border: transparent solid 1px;
    height: 184px;
}
.imagePadding:hover{
    border: $contentBorderColor solid 1px;
    background-color: $contentBgColor;
}
.selectableFile{
    /*     width:145px;*/
    height: 130px;
    overflow:hidden;
}
.selectableFile:hover{
    cursor:pointer;
}
.dir:hover{
    cursor:pointer;
}
a.dir span{
    text-decoration: none;
    color: $contentColor;
}
a.dir:hover{
    text-decoration: none;
    color: $contentColor;
}
a.dir:link{
    text-decoration: none;
    color: $contentColor;
}
.imgdetail{
    position: absolute;
    bottom: 0px;
    font-size: 8pt;
    color: $contentColor;
    opacity: 0.5;
    background-color: $contentBgColor;
    min-width:100%;
}
.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}
.dirName{
    display:block;
}
.pure-button-files,a.pure-button-files {
    margin-bottom: 3px;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.fileDeleteIcon:hover{
    fill:$buttonErrorBgColor;
}
.fileDeleteIcon{
    width:24px;
    height:24px;
}
#uploadProgress{
    position: relative;

    width: 100%;
    height:15px;
    font-size: 10pt;
    background-color: $buttonPrimaryBgColor;
    color: #fff;
}



/**
 * MISC - loadingSpinner is used in feeds, files, profilpage, gallery etc.
 */
/*
* Usage:
*
* <div class="sk-spinner sk-spinner-wandering-cubes">
* <div class="sk-cube1"></div>
* <div class="sk-cube2"></div>
* </div>
*
*/
.loadingSpinner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin-top: -40px; /* Half the height <--??? half the height does not work for me. Why?? */
    margin-left: -40px; /* Half the width <--??? half the width does not work for me. Why?? */
    z-index: 1000;
}
.sk-spinner-wandering-cubes.sk-spinner {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    position: relative; }
.sk-spinner-wandering-cubes .sk-cube1, .sk-spinner-wandering-cubes .sk-cube2 {
    background-color: $buttonBgColor;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
    animation: sk-wanderingCubeMove 1.8s infinite ease-in-out; }
.sk-spinner-wandering-cubes .sk-cube2 {
    background-color: $buttonPrimaryBgColor;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }

@-webkit-keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5); }
    50% {
        /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } }
@keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5); }
    50% {
        /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } 
}