<!--<div id="language_chooser">-->
<?php foreach($langData as $item): ?>
<li class="lang_element">
    <a href="<?php echo$item['link']?>"><?php echo$this->image('flags/'.$item['lang'].'.png')?></a>
</li>
<?php endforeach; ?>
<!--</div>-->