<!-- Piwik 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "<?php echo $config['relativeUrl'] ?>extras/piwik/" : "<?php echo $config['relativeUrl'] ?>extras/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.setDocumentTitle("<?php echo $title ?>");
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="<?php echo $config['relativeUrl'] ?>extras/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
End Piwik Tracking Code -->