/* body */
$bodyColor:#ffffff;
$bodyBgColor:#666666;
$bodyBgImageUrl:'theme/'+$siteStyle+'/images/wallpaper.jpg';
$bodyBgSize:auto 100%;

/* fonts - set empty string fontFile, if you wish to not include a fontface to fontfiles*/
$fontFamily: 'Montserrat';
$fontFormat: 'woff2';

$fontBaseDir: $relativeUrl+'theme/'+$siteStyle+'/css/fonts/Montserrat/';
$fontFileRegular: 'Montserrat-Regular.woff2';
$fontFileBold: 'Montserrat-Bold.woff2';
$fontFileItalic: 'Montserrat-Italic.woff2';
$fontFileItalicBold: 'Montserrat-BoldItalic.woff2';
$fontFileMono: '';

/* header area colors*/
$headerBgColor:#333333;
$headerBorderColor:#cc0000;
$headerOpacity:0.9;

/* navigation buttons colors */
$navButtonColor:#ffffff;
$navButtonBgColor:transparent;

/* icon Colors */
$appIconColor:#993333;
$logoutIconColor:#ffffff;
$svgIconLightColor:#ffffff;
$svgIconDarkColor:#000000;
$rssIconColor:$appIconColor;

/* logo */
$logoUrl:'theme/'+$siteStyle+'/images/logo.png';
$logoContainerWidth:60px;
$logoContainerHeight:35px;
$logoSize:auto 36px;
$logoPosition:center center;

/* content area colors */
$contentColor:#000000;
$contentBgColor:#ffffff;
$contentBorderColor:#cc9999;
$contentOpacity:0.9;

/* boxes and shadows */
$boxShadowColor:#333333;
$boxBorder:1px solid $contentBorderColor;

/* messages */
$systemMessageColor:#339933;
$errorMessageColor:#993333;
$maintainanceNoticeColor:#ffffff;
$maintainanceNoticeBgColor:#cc9999;
$maintainanceNoticeBorderColor:#cc3333;

/* headline colors */
$h1Color:#cc0000;
$h2Color:$h1Color;
$h3Color:$h1Color;
$h4Color:$h1Color;
$h5Color:$h1Color;
$h6Color:$h1Color;

/* link colors */
$aLinkColor:#cc0000;
$aVisitedColor:#cc0000;
$aHoverColor:#cc9999;

/* blockquote colors */
$blockquoteColor:#333333;
$blockquoteQuotesColor:#666666;
$blockquoteSpanColor:#999999;

/* form/input colors */
$inputColor:$contentColor;
$inputBgColor:#ffffff;
$inputBorderColor:$contentBorderColor;
$inputFocusBorderColor:#ffff00;

/* button colors */
$buttonColor:#000000;
$buttonBgColor:#cccccc;
$buttonPrimaryColor:#ffffff;
$buttonPrimaryBgColor:#D13131;
$buttonErrorColor:#ffffff;
$buttonErrorBgColor:#993333;

/* Accessibility */
$focusOutlineColor: $aLinkColor;
$focusOutlineSize: 1px;
$focusOutlineStyle: dotted;