@charset "utf-8";

/**
 *  Copyright © 2010 Tim Wahrendorff
 *  tim[at]timwahrendorff.de
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see:
 *  http://www.gnu.org/licenses/gpl-3.0-standalone.html.
 *
 *	$Id: $
 *	Files Purpose:
*/

/**
 * global definitions
*/
/* fonts - set empty string fontFile, if you wish to not include a fontface to fontfiles*/
$fontFamily: 'Montserrat';
$fontFormat: 'woff2';

$fontBaseDir: $relativeUrl+'theme/'+$siteStyle+'/css/fonts/Montserrat/';
$fontFileRegular: 'Montserrat-Regular.woff2';
$fontFileBold: 'Montserrat-Bold.woff2';
$fontFileItalic: 'Montserrat-Italic.woff2';
$fontFileItalicBold: 'Montserrat-BoldItalic.woff2';
$fontFileMono: '';

@if $fontFileRegular != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 400;
        src: url($fontBaseDir+$fontFileRegular) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileBold != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 700;
        src: url($fontBaseDir+$fontFileBold) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileItalic != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: italic;
        font-weight: 400;
        src: url($fontBaseDir+$fontFileItalic) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileItalicBold != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: italic;
        font-weight: 700;
        src: url($fontBaseDir+$fontFileItalicBold) format($fontFormat);
        font-display: block;
    }
}


* {

    /*    font-size: 100%;
        margin: 0em;
        padding: 0em;*/
}

/*img {
    border: 0px;
    max-width: 100%;
}*/

h1{
    color:#D13131;
    font-size:16pt;
    /*    font-family: colaborate-regular,sans-serif; */
    /*    padding-bottom:0.5em;*/
}

h2{
    color:#D13131;
    font-size:14pt;
    /*    font-family: colaborate-regular,sans-serif; */
    /*    padding-bottom:0.5em;*/
}

h3{
    color:#D13131;
    font-size:12pt;
    /*    font-family: colaborate-regular,sans-serif; */
    /*    padding-bottom:0.5em;*/
}
h4{
    color:#D13131;
    font-size:12pt;
    /*    font-family: colaborate-regular,sans-serif; */
    /*    padding-bottom:0.5em;*/
}

h5{
    color:#D13131;
    font-size:10pt;
    font-weight: normal;
    font-style: italic;
    /*    font-family: colaborate-regular,sans-serif; */
    /*    padding-bottom:0.5em;*/

}

h6{
    color:#D13131;
    font-size:10pt;
    font-weight: normal;
    font-style: italic;
    /*    font-family: colaborate-regular,sans-serif; */
    /*    padding-bottom:0.5em;*/
}

pre {
    font-family: monospace;
    font-size: 8pt;
    font-weight: normal;
    overflow-x: auto;
}
a:link {
    color: #D13131;
}

a:visited {
    color: #D13131;
}

a:hover {
    color: #eccdff;
}
blockquote {
    quotes: "\201C""\201D";
    font-style: italic;
    font-weight: 700;
    font-size: 1.5em;
    color: #D13131;
    margin: 1em .3em .3em .3em;
}
blockquote::before {
    color: #D13131;
    content:"\201C";
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
}
blockquote::after {
    color: #D13131;
    content:"\201D";
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.8em;
}
blockquote p {
    display: inline-block;
}
blockquote > span {
    display: inline-block;
    color: #999;
    font-size: 0.7em;
    font-weight: 400;
}
blockquote > span::before {
    content: " - "
}
/*ul {
    margin-left: 15px;
}*/

/*a:link {
    color: #D13131;
    font-weight: normal;
    text-decoration: underline;
}

a:visited {
    color: #D13131;
    font-weight: normal;
    text-decoration: underline;
}

a:hover {
    color: #666;
    font-weight: normal;
    text-decoration: none;
}*/

/*p {
    padding-bottom: 0.5em;
}*/

input[type="text"],input[type="password"],textarea {
    color: #000;
    border: solid 1px #000;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    color: #000;
    border: solid 1px #000;
    background-color: #fff;
}

input:disabled {
    background-color: #eee;
}

.svgIcon{
    width:28px;
    height:28px;
}
.svgIcon-light{
    fill:#fff;
}
.svgIcon-dark{
    fill:#000;
}

