@charset "utf-8";

/**
 *  Copyright © 2010 Tim Wahrendorff
 *  tim[at]timwahrendorff.de
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see:
 *  http://www.gnu.org/licenses/gpl-3.0-standalone.html.
 *
 *	$Id: $
 *	Files Purpose:
*/
html{
    /*height:100%;*/
    font-family: $fontFamily ,sans-serif;
}
body,
.pure-g [class *= "pure"],
.pure-g-r [class *= "pure"],
input,select,textarea,
.pure-button {
    /* Set your content font stack here: */
    /*     font-family: 'Ubuntu', sans-serif;*/
    font-family: $fontFamily ,sans-serif;
    font-size:  1em;

    /*    background-color: #fff;*/
}
body{
    width: 100%;
    height: 100%;
    /*    background-color: #666;*/
    background-position: center center;

}

#header{
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    /*    background-color: #333;*/
    /*    text-align: right;*/
    /*    border-bottom: 1px solid #cc0000;*/

    padding-top: 10px; 
    padding-bottom: 11px; 

    /*    font-weight: 700;
        font-size: 120%;*/

    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;

    /*    filter: alpha(opacity=90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;*/
    /**/
    /*margin-right: 10px;*/
    /*        background-image: url('../images/llandLogo.jpg');
            background-position: 10px 10px ;
            background-repeat: no-repeat;*/
}
#header_bg{
    position: absolute; top:0px; bottom:0px; right:0px; left:0px;
    background-color: #181818;


    /*    filter: alpha(opacity=90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;*/


    z-index:-2;

}
.logo, .logoMini{
    position:absolute;
    height: 60px;
}
.logo{
    left: 90px;
}
#login{
    /*display:none;*/
    position: absolute;
    right: 0px;
    top: 0px;
    float:right;
    width: auto;
    height: auto;

    text-align: right;




    padding: 0px 0px 0px 0px;

    /*     background-image: url('../images/llandLogo-bl.jpg');
            background-position: 10px 10px ;
            background-repeat: no-repeat;*/

}
.loginButton{
    margin-top: 10px;
    /*    margin-right: 5px;*/
}
#toTop {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    z-index: 1005;
}


#backgroundCurtain{
    display:none;
    position: fixed; top:0px; bottom:0px; right:0px; left:0px;
    background-color: #eee;


    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;

    /*    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;*/
    z-index:4000;
}
#fullOverlay{
    display:none;
    z-index: 5000;
    position:fixed; top:20px; bottom:20px; 
    right:100px; left:100px;
    background-color: #fff;
    border: 1px solid black;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    overflow-y: auto;
    overflow-x: hidden;
}
#fullOverlayContent{
    clear: both;
    padding-top: 5px;
}
.headerOverlay{
    position:relative;

    padding-bottom: 5px;
}

#titleOverlay{
    position:relative;
    float:left;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: 500;
}
.closeOverlay{
    position:relative;
    float:right;
    padding-bottom: 5px;

}
#cookieWarningContainer {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 0.3em;
    
}
#cookieWarning {
    display: inline-flex;
    flex-direction: row;
    background-color: $contentBgColor;
    border: $boxBorder;
    align-items: center;
    justify-content: center;
    padding: .3em;
    width: 90%;
    max-width: 72em;
    
}
#cookieWarning .cookieWarningImg{
    order: 1;
    flex-grow: 1;
    width:36px;
    text-align: center;
}
#cookieWarning .cookieWarningText{
    order: 2;
    flex-grow: 10;
    text-align: center;
    margin: 0em 0.5em 0em 0.5em;
    font-size: 10pt;
    color: $contentColor;
}
#cookieWarningButton{
    order: 3;
    flex-grow: 1;
    
}

#content{
    position: relative; 
    top:15px; 
    height: auto;
    width: 90%;
    max-width: 72em;
    overflow: hidden;
    
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;

    padding: 0.3em;
    padding-bottom: 2.5em;

    /*    border: 1px solid #cc9999;*/
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    z-index:1;
    /*    overflow-x: hidden;*/

    /*    border-right: 5px solid #346633;
        border-bottom: 5px solid #346633;
        -moz-border-radius: 5px 5px 5px 5px;
        -khtml-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;*/

}

#content_bg{
    position: absolute; top:0px; bottom:0px; right:0px; left:0px;
        background-color: #fff;


    /* */   filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;


    z-index:-2;

}

#onlineUsersBar{
    display:none;
    position: relative;
    top: 2px;
    height: auto;

    min-height: 20px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;

    padding: 0.3em;

    /*    border: 1px solid #cc9999;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;*/


    /*    background-color: #ffef8f;*/


    /*    filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;*/

    z-index:0;


}

/*#main_text{
    position: relative; top: -10px;
    padding: 5px 100px 0px 100px;
    
    background-color: #fff;
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    
}*/



#notifications{
    position:absolute;
    top: 57px;
    right: 0px;
    width: 300px;
    text-align: left;
    background-color: #181818;
    color: #D13131;

    border-bottom: 1px solid #cc0000;
    border-left: 1px solid #cc0000;
    border-radius: 0px 0px 0px 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top:5px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    z-index: 1010;
}
.notification img{
    max-width: 120px;
}
#notifications .notification{
    display: inline-block;
    margin-bottom: 5px;
}
#notificationsBox .unread{
    background-color: #666;
}
#notificationsBox .unread:hover{
    background-color: #999;
}
#notificationIcon{
    display: none;
    position:relative;
    top: 10px;
    right: 5px;

}
#notifications .nick{
    color: #cc0000;
    vertical-align: top;
}
#notificationsBox a{
    color: #fff;
}
#notifications .time{
    color: #000;
    font-size: 8pt;
}
#notifications .notificationMessage{
    vertical-align: top;
}
#settingsButton{
    color:white;
    position:relative;
    top: 10px;
    right: 5px;
    /*    font-weight: bold;*/

    z-index: 1010;
}
#settingsButton img{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#adminBar{
    display:none;

    position:fixed;
    top: 21px;
    right: 0px;
    background-color: #181818;
    text-align: center;
    /*    border-bottom: 1px solid #cc0000;
        border-left: 1px solid #cc0000;
        border-radius: 0px 0px 0px 3px;*/
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top:5px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    z-index: 1000;
}
.adminNav{
    margin-top:3px;
}
.admin_element, admin_selected{
    display: block;
}

/**
* Menu
*/
#navigation {
    display: block;
    /*width: 100%;*/
    float:right;
    height: auto;
    
    position:relative; top: 30px;
    
    text-align: right;
    padding-bottom: 35px;
    
    /*background-color: #eee;*/


}
#navLinks{
    display: inline-block;
}
#navLinks a{
    margin-right:2.4em;   
}
#navLinks a{
    text-decoration: none;
}
/*#navigation ul{
    top: 0px;
    margin:0em;
    padding:0.3em;
}
#navigation li{
    display: inline;
}*/
li.default_element{
    /*    display:block;
        float:left;
        padding: 0px 5px 0px 0px;*/
    /*    padding: 5px 8px 3px 8px;*/

}
li.default_selected {
    /*    display:block;
        float:left;
        padding: 0px 5px 0px 0px;*/
    /*background-color: #fff;

        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-right: 5px solid #346633;
        -moz-border-radius: 5px 5px 0px 0px;
        -khtml-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;*/
}


a.default_element{
    display:inline-block;
    color: white;
    
        font-size:  1.2em;
        font-weight: bold;
         word-break: keep-all;
        /*text-decoration: none;
        text-shadow: 2px 2px 2px #000;*/

    /*    text-shadow: none;  
        -webkit-transition: 500ms linear 0s;  
        -moz-transition: 500ms linear 0s;  
        -o-transition: 500ms linear 0s;  
        transition: 500ms linear 0s;  
        outline: 0 none;  */
}

.default_element a:hover , .default_element a:focus{
    color: #eccdff;
    font-size:  1.2em;
        font-weight: bold;
        word-break: keep-all;
    /*    color: #fff;*/
    /*text-shadow: -4px 4px 10px #fff, 4px -4px 10px #fff, 4px 4px 10px #fff, -4px -4px 10px #fff;  
    */
}

a.default_selected{
    display:inline-block;
 word-break: keep-all;
    color: #D13131;
    box-shadow: 0px 3px 0px #fff;
    font-size:  1.2em;
        font-weight: bold;
    /*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00349933', endColorstr='#ff349933', GradientType=0);
        background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(255,255,255,.15)),to(rgba(255,255,255,.31)));
        background-image:-webkit-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
        background-image:-moz-linear-gradient(top,rgba(255,255,255,.15) 0,rgba(255,255,255,.31));
        background-image:-ms-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
        background-image:-o-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
        background-image:linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));*/
    /*    box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;*/
}


/**
* Language Chooser
*/
/*#language_chooser{
    display:block;
    float:left;
    
}
#language_chooser .lang_element{

    display:block;
    float:left;

}*/
.lang_element{
    display:block;
    float:left;
    padding-right: 3px;
}
.divlabel{
    float:left;
    width:100px;
    padding-left: 5px;
}

.label_100{
    float:left;
    width:100px;
    padding-left: 5px;
    padding-right: 5px;
}
.label_150{
    float:left;
    width:150px;
    padding-left: 5px;
    padding-right: 5px;
}
.label_200{
    float:left;
    width:200px;
    padding-left: 5px;
    padding-right: 5px;
}
#footer {
    display:none;
    clear: both;
    position: fixed; bottom: 0px;
    height: 20px;
    width: 100%;
    background-color: #eee;
    text-align: right;

    /* IE 5-9 */
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.7;
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.7;
}
#footer div{
    position:absolute;
    bottom:0px; right:0px;
    padding:5px;
}
#footer a{
    color:#fff;
}

/**
 * Messages
 */
@keyframes messageFadeOut {
    0%   {opacity:1;top: 2em;}
    25%  {opacity:1;top: 4em; z-index:3;box-shadow: 1px 1px 1px #333;}
    100% {opacity:0;top: -4em;z-index:3;box-shadow: 1px 1px 1px #333;}
}

.message{
    position: fixed;
    top: 2em;
    left: 50%;

    transform: translate(-50%, 0%);
    padding: 0.5em;
    z-index: 1000;

    box-shadow: 1px 1px 8px #333;
    animation: messageFadeOut 3s forwards;
    animation-delay: 8s;

    background-color: #fff;
}

.system{
    font-weight: 700;
    border: #393 1px solid;
    color: #393;
}

.error{
    font-weight: 700;
    border: #933 1px solid;
    color: #933;
}
.message p{
    display:inline;
}

.messageIcon{
    display: inline-block;

}
.systemMessageIcon{
    fill: #393;
}

.errorMessageIcon{
    fill: #933;
}

.border{
    border: #aaa 1px solid;
}

.debug{
    color: #ccc;
}
.debug pre{
    font-size: 120%;
}

.form{
    padding:5px;
}
.float{
    float:left;
}
.float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.floatRight{
    float:right;
}

.floatRight:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.admin span{
    display:block;
}

/**
 * Login / Admin Bar
*/

.loginText{
    color:#ddd;
}

#barToggle{
    position:relative; bottom: 0px; right: 0px;
    display:block;
    font-size: 8px;
    background-color: #eee;
    width:100%;
    height:10px;
    margin: 0px;
    padding: 0px;
}

#barToggle:hover{
    background-color: #ddd;
}
.adminNav a{

}
/**
* Help-text styling
*/
.help{
    color: #666;
    font-size: 90%;
    font-style: italic;
}
.warning{
    color: #FF7F00;
    font-size: 90%;
    font-style: italic;
}

a.fc-event{
    color: white;
}
/**
 * Pure customization
*/
.pure-form fieldset {
    margin: 0px;
    padding: 0.35em 0px 0.5em 0px;
    border: 0px none;
}
a.pure-button, .pure-button{
    color: #333;
    box-sizing: border-box;
}
a.pure-button-primary, .pure-button-primary{
    color: white;
    background-color: #D13131;
}
a.pure-button-error, .pure-button-error {
    background: rgb(202, 60, 60);
    color:white;
}
.pure-button-dark,a.pure-button-dark {
    background-color: #333;
    color:white;
}

.pure-button-light,a.pure-button-light {
    background-color: #ffef8f;
    color:#349933;
}

.pure-button-gallery,a.pure-button-gallery {
    background-color: #D13131;
    color:#fff;
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-button-dark-hover,.pure-button-dark:hover{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00349933', endColorstr='#ff349933', GradientType=0);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(255,255,255,.15)),to(rgba(255,255,255,.31)));
    background-image:-webkit-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:-moz-linear-gradient(top,rgba(255,255,255,.15) 0,rgba(255,255,255,.31));
    background-image:-ms-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:-o-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    box-shadow:0 0 0 1px rgba(255,255,255,.15) inset,0 0 6px rgba(255,255,255,.3) inset;
}
.pure-button-dark:focus{outline:0}
.pure-button-dark-active,.pure-button-dark:active,.pure-button-dark:focus{box-shadow:0 0 0 0px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}

/**
 * pure form elements
*/
.pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form select, .pure-form textarea {
    color: #333;
    background-color: #fff;
}
.pure-form input[type="text"]:focus, .pure-form input[type="password"]:focus, .pure-form input[type="email"]:focus, .pure-form input[type="url"]:focus, .pure-form input[type="date"]:focus, .pure-form input[type="month"]:focus, .pure-form input[type="time"]:focus, .pure-form input[type="datetime"]:focus, .pure-form input[type="datetime-local"]:focus, .pure-form input[type="week"]:focus, .pure-form input[type="number"]:focus, .pure-form input[type="search"]:focus, .pure-form input[type="tel"]:focus, .pure-form input[type="color"]:focus, .pure-form select:focus, .pure-form textarea:focus {
    border-color: #D13131;
    background-color: #FFFFFF;
}

.pure-form input[type=checkbox]:focus{
    outline:thin dotted #D13131;
/*    outline:1px auto #cc3333;*/
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.placeholder{
    font-size: 0.8em !important;
    font-style: italic;
    color: #999;
}

.icon{
    display: inline-block;
    vertical-align: middle;

}
.svgIcon-small{
    width: 16px;
}
#mobileMenuButton{
    display: none;
}

.hidden{
    display:none; 
}
/**
 * own "box" elements
 */

.boxShadow{
    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
}
.boxBorder{
    padding: 0.2em;
    overflow-x: hidden;
    overflow-y: hidden;

    /*    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    
        border: 1px solid #cc9999;*/
}

.imgBox{
    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
    padding: 0.2em;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0.2em;
}
.imgBox img{
    width:100%;
}
.imgSub{
    font-size: 90%;
    opacity: 0.7;
}
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}

/**
 * response, response for mobiles..
*/
@media only screen and (max-width: 990px) {
    /*    #mobileMenuButton{
            display: inline-block;
        }
        #navLinks{
            display:none;
        }
        #navLinks a{
            margin-right:5px;   
        }*/
    a.default_element,a.default_selected{
        margin-bottom: 0.3em;
        display: block;
    }
    #content{
        width:97%;
    }
    #onlineUsersBar{
        width:97%;
    }
}
@media only screen and (min-width: 990px) {


    #content{
        width:97%;
    }
    #onlineUsersBar{
        width:97%;
    }
}

@media only screen and (max-width: 768px) {
    #content{
        overflow:hidden;
    }
    #fullOverlay{
        top:20px; bottom:20px; 
        left: 2px; right: 2px;
    }
    .logo{
        display:none;
    }
    #navigation {
        text-align: right;
        padding-left: 0px;
        padding-bottom: 35px;
        overflow-style: marquee;
    }
    #navLinks a{
        margin-right:1.6em;   
    }

}

@media only screen and (max-width: 480px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    /*    img.logo{
            left: 35%;
        }*/
}


/**
*  MODULE CUSTOMIZATION
*/

/*
 * profilepage
*/
.user_nick{

    color: #fff;/*#349933;*/

    background-color: #000;
    background: rgba(153, 52, 52, 0.75);
}
a.user_nickLink:link{
    color: #fff;
    text-decoration: none;
}
a.user_nickLink:visited{
    color: #fff;
    text-decoration: none;
}
a.user_nickLink:hover{
    color: #cc0000;
    text-decoration: none;
}
.dashEntry{
    border: 1px solid #eccdff;
}
.user_image img{
    border: 1px solid #eccdff;
    background-color: #eee;
}

.tags a.blog_tags:hover {
    padding: 5px;
    background-color: #D13131;
    color: #f0d9ff;
    font-weight: normal;
    text-decoration: none;
    border-radius: 5px;
}
.tags a.blog_tags {
    padding: 5px;
    color: #D13131;
    font-weight: normal;
    text-decoration: none;
    border-radius: 5px;
}
.tags a.blog_tags_selected {
    padding: 5px;
    background-color: #D13131;
    color: #f0d9ff;
    font-weight: normal;
    text-decoration: none;
    border-radius: 5px;
}

#blogHeader{
    color: #D13131;
}
div.bubble{
    border: 3px solid #D13131;
}
div.after_bubble {
    border-color: #D13131 transparent transparent #D13131;
}
div.bubble_min{
    border: 3px solid #D13131;
}
div.after_bubble_min{
    border-color: #D13131 transparent transparent #D13131;
}

.galNavi .galleryIcon{
    fill:#fff;
}

.appIcon svg{
    width:17px;
    height:17px;
    display: inline-block;
    vertical-align: middle;
    fill: #D13131;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.overlayCloseIcon{
    height: 20px;
    width: 20px;
}
.notificationBell{
    width:16px;
    height:16px;
}
.menuIcon{
    width:16px;
    height:16px;
}
.rssIcon{
    fill: #cc3333;
}
