@charset "utf-8";

/**
 *  Copyright © 2018 Tim Wahrendorff
 *  tim[at]timwahrendorff.de
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see:
 *  http://www.gnu.org/licenses/gpl-3.0-standalone.html.
 *
 *	$Id: $
 *	Files Purpose: base styles for 
*/


body,
.pure-g [class *= "pure"],
.pure-g-r [class *= "pure"],
.pure-form,
.pure-button {
    /* Set your content font stack here: */
    /*     font-family: 'Ubuntu', sans-serif;*/
    font-family: $fontFamily,'NotoColorEmoji',Helvetica;
    font-size:  1em;

    /*    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;*/
}

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    /*    background:*/
    @if $bodyBgImageUrl != '' {
        background-image: url($relativeUrl+$bodyBgImageUrl);
        background-size: auto 100%;
        background-position: center center; 
        background-repeat: repeat-x; 
        background-attachment:fixed; 
    }

    background-color:$bodyBgColor;
    color:$bodyColor;
}

p {
    padding: 0.3em 0 0 0;
    margin: 0;
}

h1{
    color:$h1Color;
    font-size:160%;
    font-weight: 500;
}

h2{
    color:$h2Color;
    font-size:140%;
    font-weight: 500;
}

h3{
    color:$h3Color;
    font-size:120%;
    font-weight: 500;
}
h4{
    color:$h4Color;
    font-size:120%;
    font-weight: 500;
}

h5{
    color:$h5Color;
    font-size:100%;
    font-weight: normal;
    font-style: italic;
    font-weight: 500;
}

h6{
    color:$h6Color;
    font-size:100%;
    font-weight: normal;
    font-style: italic;
    font-weight: 500;
}

label,input[type='checkbox']{
    cursor: pointer;
}

pre {
    font-family: $fontFamilyMono monospace;
    font-weight: normal;
    overflow-x: auto;
    line-break: strict;
    border: 2px dashed #060;
    padding: 3px;
}

pre.bash {
    border: 1px solid #060;
    background-color: #000;
    color: #00cc00;
}

pre.bash::before {
    content: "~$ ";
    color: #fff;
}

blockquote {
    quotes: "\201C""\201D";
    font-style: italic;
    font-weight: 700;
    font-size: 1.5em;
    color: $blockquoteColor;
    margin: 1em .3em .3em .3em;
}
blockquote::before {
    color: $blockquoteQuotesColor;
    content:"\201C";
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
}
blockquote::after {
    color: $blockquoteQuotesColor;
    content:"\201D";
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.8em;
}
blockquote p {
    display: inline-block;
}
blockquote > span {
    display: inline-block;
    color: $blockquoteSpanColor;
    font-size: 0.7em;
    font-weight: 400;
}
blockquote > span::before {
    content: " - "
}

a, a:link {
    color: $aLinkColor;
}

a:visited {
    color: $aLinkColor;
}

a:hover {
    color: $aHoverColor;
}

video{
    width: 100%;
    max-height: 80vh;
}

iframe{
    width: 100%;
    max-height: 80vh;
}

/*#####################################*/
/* ICONS (should be here to save frustration when setting other colors to icons in main_style)*/
/*#####################################*/
.icon{
    display: inline-block;
    vertical-align: middle;
}
.svgIcon{
    width:28px;
    height:28px;
}
.svgIcon-small{
    width:15x;
    height:15px;
}
.svgIcon-light{
    fill:$svgIconLightColor;
}
.svgIcon-dark{
    fill:$svgIconDarkColor;
}

.appIcon svg{
    width:17px;
    height:17px;
    display: inline-block;
    vertical-align: middle;
    fill: $appIconColor; /*#33cc33;*/
}
.logoutIcon svg{
    fill: $logoutIconColor;
}

/**
 * accessibility concerns
 */
:focus {
    outline: $focusOutlineColor $focusOutlineStyle $focusOutlineSize;
}
.outOfBounds{
    position: absolute;
    left: -10000px;
    top: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
a.outOfBounds:focus{
    left:1px;
    top:1px;
    width:auto;
    height:auto;
    padding: 0.1em;

    color: $aLinkColor;
    background-color: $contentBgColor;
    z-index:1000;
}

/**
 * Responsive Tables... Scoll wrapper for small screens
 */

.tableWrapper{
    overflow: auto;
}

/**
* Ssroll to top button
*/
#toTop {
    position: fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
}

/**
* global Overlay
*/

#backgroundCurtain{
    display:none;
    position: fixed; top:0px; bottom:0px; right:0px; left:0px;
    background-color: #eee;

    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index:4000;
}
#fullOverlay{
    color: $contentColor;
    display:none;
    z-index: 5000;
    position:fixed; 
    top:2.5vh; 
    right:5vw; left:5vw;
    width: 90vw;
    max-width: 72em;
    max-height: 95vh;
    background-color: $contentBgColor;
    border: 1px solid $contentBorderColor;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    overflow-y: auto;
    overflow-x: hidden;
}
#fullOverlayContent{
    clear: both;
    padding-top: 5px;
}
.headerOverlay{
    position:relative;
    padding-bottom: 5px;
}

#titleOverlay{
    position:relative;
    float:left;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: 500;
}
.closeOverlayStaticButton{
    position:relative;
    float:right;

}
.overlayCloseIcon{
    height: 16px;
    width: 16px;
}

/**
* Help-text styling
*/
.help{
    opacity: 0.6;
    font-size: 90%;
    font-style: italic;
}
.warning{
    color: #FF7F00;
    font-size: 90%;
    font-style: italic;
}
/**
 * margins for helptext in pure-form-aligned forms
 */
.help-margin{
    margin-left: 16em;
}
@media only screen and (max-width: 480px) {
    .help-margin{
        margin-left: 0em;
    }
}

/**
 * Messages
 */
@keyframes messageFadeOut {
    0%   {opacity:1; top: 0em; box-shadow: 1px 1px 1px $boxShadowColor; height: auto; padding:0.5em; border-width:1px;}
/*    25%  {opacity:1;top: -2em;box-shadow: 1px 1px 1px $boxShadowColor; height: auto; padding:0.5em; border-width:1px;}*/
    99% {opacity:0; top: -5em;box-shadow: 1px 1px 1px $boxShadowColor; height: auto; padding:0.5em; border-width:1px;}
    100% {opacity:0; top: -5em;box-shadow: 1px 1px 1px $boxShadowColor; height:0; padding:0; border-width:0;}
}
#msgsContainer {
    display: grid;
    position: fixed;
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
}
.message{
    position: relative;
    text-align: center;
    padding: 0.5em;

    box-shadow: 1px 1px 8px $boxShadowColor;
    animation: messageFadeOut 2s forwards;
    animation-delay: 8s;
    
     z-index: 1000;
    background-color: $contentBgColor;
}

.system{
    font-weight: 700;
    border: $systemMessageColor 1px solid;
    color: $systemMessageColor;
}

.error{
    font-weight: 700;
    border: $errorMessageColor 1px solid;
    color: $errorMessageColor;
}
.message p{
    display:inline;
}

.messageIcon{
    display: inline-block;

}
.systemMessageIcon{
    fill: $systemMessageColor;
}

.errorMessageIcon{
    fill: $errorMessageColor;
}

.border{
    border: #aaa 1px solid;
}

/**
    debug texts in body
*/
.debug{
    color: #ccc;
}
.debug pre{
    font-size: 100%;
    color: $contentColor;
    white-space: nowrap;
}

.float{
    float:left;
}
.float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.floatRight{
    float:right;
}

.floatRight:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**
* Maintainance Notice
*/
#maintainanceNotice{
    padding: 0.5em;
    border: 1px solid $maintainanceNoticeBorderColor;
    background-color: $maintainanceNoticeBgColor;
    color: $maintainanceNoticeColor;
    font-weight: 700;
}
#maintainanceNotice .warnIcon{
    display: inline-block;
    height:24px;
    width:24px;
    vertical-align: middle;
}
#maintainanceNotice p{
    display: inline;
}



textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#navLinks{
    display: inline-block;   
}
#mnuButton{
    display: none;
}
.hidden{
    display: none; 
}

/**
 * own "box" elements
 */
.boxShadow{
    -moz-box-shadow: 1px 1px 8px $boxShadowColor; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px $boxShadowColor; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px $boxShadowColor;
}
.boxBorder{
    padding: 0.2em;
    overflow-x: hidden;
    overflow-y: hidden;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: $contentBgColor;
    border: $boxBorder;
}