/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 02.06.2020, 15:04:11
    Author     : wahrendorff
*/

/**
 * CKEditor mono lisa jumpy toolbar fixes
 */

a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active {
    border: 0px !important;
    padding: 4px 6px !important;
}
a.cke_button_expandable:hover, a.cke_button_expandable:focus, a.cke_button_expandable:active{
    padding: 4px 5px !important;
}
a.cke_button_expandable.cke_button_on{
    padding: 3px 4px !important;
}
.cke_combo_on a.cke_combo_button, .cke_combo_off a.cke_combo_button:hover, .cke_combo_off a.cke_combo_button:focus, .cke_combo_off a.cke_combo_button:active{
    border: 0px !important;
    padding: 1px  !important; /*1px 2px !important;*/
    padding: 0 0 0 1px;
    margin-left: 0px !important;
}
img:-moz-broken
{
	-moz-force-broken-image-icon : 1;
	width : 24px;
	height : 24px;
}
.cke_autocomplete_panel{
    background-color: $contentBgColor;
    color: $contentColor;
}
/** video preview height fix*/
div.cke_inner img.cke_video{
    max-height: 25vw;
}
div.cke_inner .imgBox img.cke_video{
    max-height: 20vw;
}


/** uiColor **/

/*.cke_top, .cke_bottom, {
    background-color: $ckeditorUiColor !important;
    color: $contentColor !important;
}*/

/** editor area colors **/
.cke_inner, .cke_wysiwyg_frame, .cke_wysiwyg_div{
    background-color: $contentBgColor !important;
    color: $contentColor !important;
}