/*
    Created on : 22.08.2019, 16:06:49
    Author     : wahrendorff
*/

/**
 * response, response for mobiles..
*/
@media only screen and (max-width: 1024px) {
    body {
        background-image: none;
    }
    
    #menuButton{
/*        display: inline-block;*/
    }
/*    #logo{
        float:left;
        position: absolute;
        left: 3.5em;
        padding:0;
        width:$logoContainerWidth;
    }*/
    #navLinks{
        /*        position: absolute;
                left: 0px;
                top: 40px;*/
    }
    
    #language_chooser{
        display:block;
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #content{
        width:98%;
        padding-left: 1%;
        padding-right: 1%;
        border:0;
    }
    #onlineUsersBar{
        width:100%;
    }
    #search {
        text-align: right;
        flex-grow: 2;
    }
}

@media only screen and (max-width: 768px) {
    #fullOverlay{
        top:2vh; bottom:2vh; 
        left: 0.2vh; right: 0.2vh;
        width:95vw;
    }
    .closeOverlayStaticButton {
        position: fixed;
        float: right;
        top: 1vh;
        right: 1vh;
        border: 1px solid black;
        
    }

    /*    #search .pure-form button[type="submit"]{
            margin: 0 0 0 -60px;
        }*/

}

@media only screen and (max-width: 480px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    input,textarea{
        max-width: 90vw;
    }
    #s{
        width:5em;
    }
}

@media only screen and (max-width: 320px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    input,textarea{
        max-width: 90vw;
    }
}