/* 
    Document   : files
    Created on : 17.04.2014, 07:35:29
    Author     : tim
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * Image selection
*/

.imageTile{
    display: inline-block;
    width: 150px;
    height: 190px;
    overflow: hidden;
    /*     border: 1px solid black;*/
}
.imagePadding{
    position: relative;
    padding: 2px;
    overflow: hidden;
    border: transparent solid 1px;
    height: 184px;
}
.imagePadding:hover{
    border: $contentBorderColor solid 1px;
    background-color: $contentBgColor;
}
.selectableFile{
    /*     width:145px;*/
    height: 130px;
    overflow:hidden;
}
.selectableFile:hover{
    cursor:pointer;
}
.dir:hover{
    cursor:pointer;
}
a.dir span{
    text-decoration: none;
    color: $contentColor;
}
a.dir:hover{
    text-decoration: none;
    color: $contentColor;
}
a.dir:link{
    text-decoration: none;
    color: $contentColor;
}
.imgdetail{
    position: absolute;
    bottom: 0px;
    font-size: 8pt;
    color: $contentColor;
    opacity: 0.5;
    background-color: $contentBgColor;
    min-width:100%;
}
.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}
.dirName{
    display:block;
}
.pure-button-files,a.pure-button-files {
    margin-bottom: 3px;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.fileDeleteIcon:hover{
    fill:$buttonErrorBgColor;
}
.fileDeleteIcon{
    width:24px;
    height:24px;
}
#uploadProgress{
    position: relative;

    width: 100%;
    height:15px;
    font-size: 10pt;
    background-color: $buttonPrimaryBgColor;
    color: #fff;
}
