.projectElement{
    box-sizing: border-box;
    border: $boxBorder;
}
.projectElement h3{
    margin: 0.7em;
}
.projectElement input[type='checkbox'],label{
    vertical-align:middle;
}
.projectContainer{
    margin: 0.2em;
}
.element{
    margin: 0.2em;
}
.element h4 {
    font-weight: normal;
    margin: 0;
}
.elementDone{
    text-decoration: line-through;
}
input[type='checkbox']{
/*    margin: 0.1em;*/
}
#noteDescription{
    display:none;
}
/* aligning of checkbox labels in project overview */
.pure-form label{
    display: inline;
}