<!DOCTYPE html>
<html lang="<?php echo $language; ?>" xml:lang="<?php echo $language; ?>">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <?php echo $headTag ?>
        <title><?php echo $title ?></title>
    </head>
    <body <?php echo $bodyJs ?> <?php echo $bodyBgStyle ?> >
        <?php echo $cookieWarning; ?>
<!--        <div id="logo"></div>-->
        <a name="accessibility legend" tabindex="0" class="outOfBounds">
            <?php echo $this->ts("accesskeys: n for navigation, c for content"); ?>
        </a>
        <audio id="notificationSound">
            <source src="<?php echo $styleUrl . "sounds/gets-in-the-way.mp3" ?>">
<!--            <source src="WhiteChristmas.ogg">-->
        </audio>
        <div id="backgroundCurtain"></div>

        <div id="fullOverlay"><div class="headerOverlay" ><div id="titleOverlay"></div><a class="pure-button pure-button-error closeOverlay" title="<?php echo $this->ts("Close overlay"); ?>" href="#closeOverlay"><?php echo $this->icon('open-iconic/sprite/sprite.min.svg#x', 'svgIcon svgIcon-light overlayCloseIcon'); ?></a></div>
            <div id="fullOverlayContent"></div>
        </div>

        <div id="header">
            <div id="logoArea">
                <a id="logoLink" href="<?php echo $config['relativeUrl'] ?>">
                    <?php echo $this->image('logo.png', 'logo'); ?>
                    <?php //echo $this->image('Schrift-Logo-Vector.svg', 'logoBig') ?>
                </a>
            </div>
            <div id="headerNavigation">
                <a id="mobileMenuButton" class="pure-button pure-button-nav" href="#" title="<?php echo $this->ts("open/close navigation") ?>" >
                    <?php echo $this->icon('open-iconic/sprite/sprite.min.svg#menu', 'svgIcon svgIcon-dark menuIcon'); ?>
                </a>
                <div id="navigation" tabindex="-1" accesskey="n">
                    <div id="navLinks">
                        <?php echo $navigation ?>
                    </div>
                </div>
                <div id="login" >
                <?php echo $search; ?>
                <?php echo $login ?>
            </div>
            </div>
            
        </div>
       
        <?php if ($isLoggedIn) : ?>
            <div id="onlineUsersBar"></div>
        <?php endif; ?>
        <?php if ($messages != ""): ?>
            <?php echo $messages; ?>
        <?php endif; ?>    
        
        <?php if ($sidebarLeft != ""): ?>
            <div id="sidebarLeft"><?php echo $sidebarLeft ?></div>
        <?php endif; ?>
            
        <div id="content" tabindex="-1" accesskey="c">
            <?php echo $maintainanceNotice; ?>
            <!--** EXPERIMENTAL
       
            -->


            <!--** END EXPERIMENTAL
                   
            -->

            <div id="content_bg"></div>
            <?php echo $content ?>

        </div>
            
        <?php if ($sidebarRight != ""): ?>
            <div id="sidebarRight"><?php echo $sidebarRight ?></div>
        <?php endif; ?>
            
        <a href='#' id='toTop' class="pure-button " style='display:none;'><?php echo $this->icon('open-iconic/sprite/sprite.min.svg#chevron-top', 'svgIcon svgIcon-dark toTopIcon'); ?></a>

        <?php if (is_array($debugMessages) && count($debugMessages) > 0): ?>
            <br/>
            <div class="debug">
                <?php echo "<p><a href='http://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] . "?XDEBUG_PROFILE'>XDEBUG_PROFILE</a></p>"; ?>

                <b><?php echo $this->ts('Debug Information:'); ?></b>
                <br/>
                <pre>
                    <?php foreach ($debugMessages as $debug): ?>
                        <?php echo $debug ?><br/>
                    <?php endforeach; ?>
                </pre>
            </div>
        <?php endif; ?>

        <?php if ($footer != ""): ?>
            <div id="footer"><?php echo $footer ?></div>
        <?php endif; ?>
        

        <?php echo $piwikTag ?>
        <?php echo $javaScriptIncludes ?>
        <?php echo $javaScriptSingleIncludes ?>


        <!--** EXPERIMENTAL
        
        -->
 

        <!--** END EXPERIMENTAL
               
        -->

    </body>
</html>