/* 
    Document   : files
    Created on : 17.04.2014, 07:35:29
    Author     : tim
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * Image selection
*/

.imageTile{
    display: inline-block;
    width: 150px;
    height: 190px;
    overflow: hidden;
    /*     border: 1px solid black;*/
}
.imagePadding:hover{
    border: #349933 solid 1px;
    background-color: #66cc66;
}
.imagePadding{
    position: relative;
    padding: 2px;
    overflow: hidden;
    border: transparent solid 1px;
    height: 184px;
}
.selectableFile{
    /*     width:145px;*/
    height: 130px;
    overflow:hidden;
}
.selectableFile:hover{
    cursor:pointer;
}
.dir:hover{
    cursor:pointer;
}
a.dir span{
    text-decoration: none;
    color: #000;
}
a.dir:hover{
    text-decoration: none;
    color: #000;
}
a.dir:link{
    text-decoration: none;
    color: #000;
}
.imgdetail{
    font-size: 8pt;
    color: #666;
}

.uploadFilesForm{
    display: none;
}
.createNewDirForm{
    display: none;
}
#uploadProgress{
    position: relative;

    width: 100%;
    height:15px;
    font-size: 10pt;
    background-color: #349933;
    color: #fff;
}

.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}
.dirName{
    display:block;
}
.pure-button-files,a.pure-button-files {
/*     background-color: #D13131;
    color:#fff;*/
/*    font-size: 16px;
    line-height: 18px;*/
    margin-bottom: 3px;
}
.svgIcon{
    width:16px;
    height:16px;
}
.svgIcon-light{
    fill:#fff;
}
.svgIcon-dark{
    fill:#000;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.fileDeleteIcon:hover{
    fill:#c33;
}
.fileDeleteIcon{
    width:24px;
    height:24px;
}


/*
* Usage:
*
* <div class="sk-spinner sk-spinner-wandering-cubes">
* <div class="sk-cube1"></div>
* <div class="sk-cube2"></div>
* </div>
*
*/
.loadingSpinner{
    display:block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin-top: -40px; /* Half the height <--??? half the height does not work for me. Why?? */
    margin-left: -40px; /* Half the width <--??? half the width does not work for me. Why?? */
    z-index: 1000;
}
.sk-spinner-wandering-cubes.sk-spinner {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    position: relative; }
.sk-spinner-wandering-cubes .sk-cube1, .sk-spinner-wandering-cubes .sk-cube2 {
    background-color: #333;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
    animation: sk-wanderingCubeMove 1.8s infinite ease-in-out; }
.sk-spinner-wandering-cubes .sk-cube2 {
    background-color: #D13131;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }

@-webkit-keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5); }
    50% {
        /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } }
@keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5); }
    50% {
        /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } 
}