/* 
    Document   : profilpage.css
    Created on : 01.03.2014, 21:02:28
    Author     : tim
*/
/*html, body {
    height: 100%;
}*/
.dash{
    min-height:100%;
}
.dashtile { 
    /*min-height: 150px;*/
    /*    max-height: 400px;*/
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    margin:0.5em;

    /*    border: 1px solid #349933;*/
}
.dashtile h4, .dashtile h2{
    margin:0px;
    font-size: 125%;
    margin-bottom: 10px;
    font-weight: normal;
}
#createEntryMini{
    display: none;
}
#activateSmilies{
    /*    float: left;
        margin-right: 4px;
        padding: 6px 16px;*/
}

#smilieSelect{
    display:none;
}

.ext_fav img{
    width: 16px;
}

.nextEvent{
    padding-bottom: 5px;
}
.dashtile_nick{
    position: relative; 
    /*    width: 100%;*/
}

.mediacontent img{
    min-width: 100%;
}

.user_nick{
/*    position: absolute; 
    top: 0.75em; 
    left: 0.75em;*/
    /*       right: 3px;*/
    /*    width: 100%; */
position: absolute; 
    padding: 0.3em;
    margin-right:3px;

    font-size: 100%;
/*    font-weight: 700;*/
/*    color: #fff;*/

/*    background-color: #000;*/
    /*    background: rgba(52, 153, 52, 0.75);*/
}
a.user_nickLink{
    position: absolute;
    padding: 0.3em;
/*    background-color: #c00;*/
}
a.user_nickLink:link{
    text-decoration: none;
}
a.user_nickLink:visited{
    text-decoration: none;
}
a.user_nickLink:hover{
    text-decoration: none;
}
.user_image img{
    width:100%;

    padding: 0.2em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
}
.followerNick{
    position: absolute; 
    top: 3px; 
    left: 3px;
    /*       right: 3px;*/
    /*    width: 100%; */

    padding: 5px;
    margin-right:3px;

    font-size: 125%;
    font-weight: 700;
    color: #fff;/*#349933;*/

    background-color: #000;
    background: rgba(153, 52, 52, 0.75);
}
.follower img{
    max-height: 150px;
}

#preview{
    margin-top: 5px;
    /*border: 1px solid #349933;*/

}
.user_image_mini{
    display:none;
}
.notificationWidgetMini{
    display:none;
}
.calendarWidgetMini{
    display:none;
}
.newestEntries{
    /*    max-height: 500px;
        overflow-y:scroll;*/
}
.userStats h5{
    margin-bottom:3px;
    margin-top:0px;
}
.statNr{
    padding: 10px;
}
.dashEntry{

    padding: 0.2em;
    margin-bottom: 1em;
    overflow-x: hidden;
    overflow-y: hidden;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
    /*    background-color: #fff;*/
}

.nick{
    /*    color: #349933;*/
    padding-left: 3px;

}
.nick a{
    text-decoration: none;
}
.time{
    float:right;
    opacity:0.7;
    font-size: 8pt;
}

.comments{
    border-top: 3px solid #fff;
    /*        background-color: #ccc;*/
}
.comment_img{
    float:left;
}

.writeComment{

}

.comments{
    padding-left: 32px;
}
.commentEntry{
    padding: 1em 0 1em 0;
    padding-top: 3px;
    margin-bottom: 5px;
}
.commentText{
    /*    padding-left: 36px;*/
    padding: 0.1em 0 0.1em 2.5em;

}
.commentNick{
    /*    color: #349933;*/
    padding-left:3px;
}
.commentInputContainer{
    margin-left: 35px;

}
.nickImgInsertComment{
    position: absolute;
}
textarea.commentInput  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    height:36px;
}

.voter{
    float:right;
}

.chatButton{

}
.chatButtonParent{
    padding-top: 3px;
    padding-left: 10px;
}

/*.percent{
    height: 100%;
    background-color: red;
}*/

@media only screen and (max-width: 767px) {
    .user_image{
        display:none;

    }
    .insertCommentText{
        display:none;
    }
    .user_image_mini{
        display: inline-block;
        height: 32px;
        width: 32px;
    }
    .user_nick{
        top: 3px;
        left: 38px;

    }
    .dashtile{
        min-height: 0px; 
        padding: 3px;
        margin: 0em;
    }
    .nextEvent{
        display: inline-block;
    }
    .newestEntries{
        max-height: none;
        overflow-y: visible;
    }
    .calendarWidgetMini{
        display:inherit;
    }
    .calendarWidgetNormal{
        display:none;
    }
    .notificationWidgetMini{
        display:none;
    }
    .notificationWidgetNormal{
        display:none;
    }
}

.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}

.commentText img{
    max-width:200px;
}

.dashEntry iframe{
    width: 100%;
    overflow: hidden;
    border: #000 none 0px;
/*    min-height: 200px;*/
}
/*#preview iframe{
    width: 100%;
    overflow: hidden;
    border: #000 none 0px;
    min-height: 200px;
}*/
.entryText{
    padding: 1em 0 1em 0;
}

iframe.youTube, iframe.vimeo, iframe.dailyMotion, #preview iframe.youTube, #preview iframe.vimeo, #preview iframe.dailyMotion {
    min-height: 400px;
}

/**
 * On Off switch
 */

/*.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 6px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #349933; color: #EEEEEE;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #CCCCCC;
    border: 2px solid #999999; border-radius: 6px;
    position: absolute; top: 0; bottom: 0; right: 41px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}*/

.profilpageIcon{
    width:16px;
    height:16px;
}
.entryEditIcon:hover,.thumbUp:hover{
    fill: #3c3;
}
.entryDeleteIcon:hover,.thumbDown:hover{
    fill: #c33;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.commentDeleteIcon, .commentSendIcon{
/*    width: 22px;
    height: 22px;*/ 

}
.commentDeleteIcon{
    float: right;
    fill: black;

}
.commentSendIcon:hover{
    fill: #3c3
}
.commentDeleteIcon:hover{
    fill: #c33;

}

iframe.privacyIframeHidden{
    width: 0px;
    height: 0px;
}