<a class="pure-button pure-button-small" href="<?php echo $this->action('files'); ?>"><?php echo $this->ts('back'); ?></a>

<iframe width="100%" height="500px" src="<?php echo $relativeUrl; ?>extras/kcfinder-3/browse.php?type=images"></iframe>