<video src="<?php echo $path?>" width="100%" height="100%" controls>

<div> Schade – hier käme ein Video, wenn Ihr Browser HTML 5 
Unterstützung für OGG hätte, wie z.B. der aktuelle Firefox</div>

</video>
