<?php
$n=0;
foreach ($latestEntries as $e):
    // show feed entries
    ?>
    <?php $permalink = str_replace('http://', 'https://', $e->get_permalink());//if($n===0){echo $this->image($e->get_feed()->get_image_url(),'feed_logo', '', '32');} ?>
    <h4><a href="<?php echo $permalink; ?>" target="_blank"><?php echo $e->get_title(); ?></a></h4>
    <a class="itemContent" href="<?php echo $permalink; ?>" target="_blank">
        <div class="itemContent">
            <?php echo str_replace('http://', 'https://', $e->get_content()); ?>
        </div>
    </a>

    <?php $n++;
endforeach;
// end feed entries