/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 02.06.2020, 22:29:18
    Author     : wahrendorff
*/

/**
 * Fonts
*/
/* latin-ext */
/*@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
}*/
@if $fontFileRegular != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 400;
        src: url($fontBaseDir+$fontFileRegular) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileBold != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 700;
        src: url($fontBaseDir+$fontFileBold) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileItalic != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: italic;
        font-weight: 400;
        src: url($fontBaseDir+$fontFileItalic) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileItalicBold != '' {
    @font-face {
        font-family: $fontFamily;
        font-style: italic;
        font-weight: 700;
        src: url($fontBaseDir+$fontFileItalicBold) format($fontFormat);
        font-display: block;
    }
}
@if $fontFileMono != '' {
    @font-face {
        font-family: $fontFamilyMono;
        font-style: normal;
        font-weight: 400;
        src: url($fontBaseDir+$fontFileMono) format($fontFormat);
        font-display: block;
    }
}
/*
@font-face {
    font-family: "NotoColorEmoji";
    font-style: normal;
    font-weight: 400;
    src: url($fontBaseDir+"NotoColorEmoji/NotoColorEmoji.ttf") format("ttf");
    font-display: block;
}
*/
@font-face {
    font-family: "EmojiOne";
    font-style: normal;
    font-weight: 400;
    src: url($fontBaseDir+"emojione-color/EmojiOneColor.otf") format("otf");
    font-display: block;
}