@charset "utf-8";

/**
 *  Copyright © 2010 Tim Wahrendorff
 *  tim[at]timwahrendorff.de
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see:
 *  http://www.gnu.org/licenses/gpl-3.0-standalone.html.
 *
 *	$Id: $
 *	Files Purpose:
*/
/**
 * global definitions
*/

* {
    font-size: 100%;
}


label,input[type='checkbox']{
    cursor: pointer;
}

pre {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: normal;
    overflow-x: auto;
    line-break: strict;
    border: 2px dashed #060;
    padding: 3px;
}

pre.bash {
    /*    border: 1px solid #060;*/
    background-color: #000;
    color: #00cc00;
}

pre.bash::before {
    content: "~$ ";
    color: #fff;
}

blockquote {
    /*    border-left: 10px solid #060;*/
    padding: 1em 0 0 0;
    quotes: "\201C""\201D";
    font-style: italic;
    font-weight: 700;
    font-size: 1.5em;
    color: #060;
}
blockquote::before {
    color: #060;
    content:"\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.25em;
}
blockquote::after {
    color: #060;
    content:"\201D";
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.8em;
}
blockquote p {
    display: inline-block;
}
blockquote > span {
    display: inline-block;
    color: #666;
    font-size: 0.7em;
    font-weight: 400;
}
blockquote > span::before {
    content: " - "
}


/*ul {
    margin-left: 15px;
}*/

/*a:link {
    color: #006600;
    font-weight: normal;
    text-decoration: underline;
}

a:visited {
    color: #006600;
    font-weight: normal;
    text-decoration: underline;
}

a:hover {
    color: #666;
    font-weight: normal;
    text-decoration: none;
}*/

/*p {
    padding-bottom: 0.5em;
}*/

/*input[type="text"],input[type="password"],textarea {
    color: #000;
    border: solid 1px #000;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    color: #000;
    border: solid 1px #000;
    background-color: #fff;
}

input:disabled {
    background-color: #eee;
}*/


#header{
    height: 40px;
    width: 100%;
    position: relative;
    /*    background-color: #333;*/
    /*    text-align: right;*/
    border-bottom: 1px solid #006600;
    padding-top: 10px; 
    padding-bottom: 10px; 
}
#header_bg{
    position: absolute; top:0px; bottom:0px; right:0px; left:0px;
    background-color: #333;


    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;


    z-index:-2;

}
#logoArea{
    float:left;
}
#logoArea > a{
    text-decoration: none;
}   
div.svgImage {
    display: inline-block;
}
div.logo {
    border:0;
    padding: 0 0px 0 15px;
}
.logo > svg{
    height:40px;
    width:60px;
}
div.logoSchrift{
    border:0;
    width:auto;
    height:40px;
    margin: 0 10px 0px -4em;
}
#login{
    display:inline;
    float:right;
    right: 10px;
    top: 0px;
    float:right;
    width: auto;
    height: auto;

    text-align: right;

    padding: 2px 0px 0px 0px;
}
.loginButton{
    /*    margin-top: 10px;*/
    /*    margin-right: 5px;*/
}

#toTop {
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
}


#backgroundCurtain{
    display:none;
    position: fixed; top:0px; bottom:0px; right:0px; left:0px;
    background-color: #eee;


    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index:4000;
}
#fullOverlay{
    color: #000;
    display:none;
    z-index: 5000;
    position:fixed; top:20px; bottom:20px; 
    right:100px; left:100px;
    background-color: #fff;
    border: 1px solid black;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    overflow-y: auto;
    overflow-x: hidden;
}
#fullOverlayContent{
    clear: both;
    padding-top: 5px;
}
.headerOverlay{
    position:relative;

    padding-bottom: 5px;
}

#titleOverlay{
    position:relative;
    float:left;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: 500;
}
.closeOverlay{
    position:relative;
    float:right;
    padding-bottom: 5px;

}
#cookieWarningContainer {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 0.3em;
    
}
#cookieWarning {
    display: inline-flex;
    flex-direction: row;
    background-color: $contentBgColor;
    border: $boxBorder;
    align-items: center;
    justify-content: center;
    padding: .3em;
    width: 90%;
    max-width: 72em;
    
}
#cookieWarning .cookieWarningImg{
    order: 1;
    flex-grow: 1;
    width:36px;
    text-align: center;
}
#cookieWarning .cookieWarningText{
    order: 2;
    flex-grow: 10;
    text-align: center;
    margin: 0em 0.5em 0em 0.5em;
    font-size: 10pt;
    color: $contentColor;
}
#cookieWarningButton{
    order: 3;
    flex-grow: 1;
    
}
#content{
    position: relative; 
    top:5px; 
    height: auto;
    width: 90%;
    max-width: 72em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;

    padding: 0.3em;
    /*    padding-bottom: 2.5em;*/

    border: 1px solid #99cc99;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index:1;

    color: #000;

    word-break: normal;
    overflow-x: hidden;
}
#content iframe{
    max-width: 100%;
}

#content_bg{
    position: absolute; top:0px; bottom:0px; right:0px; left:0px;
    background-color: #fff;

    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    z-index:-2;
}

#onlineUsersBar{
    /*    display:none;*/
    color: #000;

    position: relative;
    top: 2px;
    height: auto;

    min-height: 20px;
    width: 90%;
    max-width: 72em;
    margin-left:auto;
    margin-right:auto;

    padding: 0.3em;

    border: 1px solid #99cc99;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background-color: #eee;

    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;

    z-index:0;
}

#notifications{
    position:absolute;
    top: 51px;
    right: 0px;
    width: 300px;
    text-align: left;
    background-color: #333;

    border-bottom: 1px solid #006600;
    border-left: 1px solid #006600;
    border-radius: 0px 0px 0px 3px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top:5px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;

    z-index: 1010;
}
#notifications .notification{
    display: inline-block;
    margin-bottom: 5px;
}
#notificationsBox .unread{
    background-color: #666;
}
#notificationsBox .unread:hover{
    background-color: #999;
}
#notificationIcon{
    /*    position:relative;*/
    top: 10px;
    right: 5px;

}
#notifications .nick{
    color: #006600;
    vertical-align: top;
}
#notificationsBox a{
    color: #fff;
}
#notifications .time{
    color: #000;
    font-size: 8pt;
}
#notifications .notificationMessage{
    vertical-align: top;
}
#settingsButton{
    top: 10px;
    right: 0px;
    font-weight: bold;

    z-index: 1010;
}
#settingsButton img{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#navigation {
    display: block;
    float:left;
    /*    width: 50%;*/
    height: auto;
}

#navigation.navOpen{
    animation: navOpen 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}
#navigation.navClose{
    max-height: 80vh;
    overflow-y: hidden;
    animation: navClose 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}

#adminBar{
    position:absolute;
    top: 51px;
    right: 0px;
    background-color: $headerBgColor;
    text-align: left;
    border-bottom: 0px solid $headerBorderColor;
    border-left: 1px solid $headerBorderColor;
    border-radius: 0px 0px 0px 3px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    z-index: 1000;
    /* with sticky headers, we need the <br/>gation to be scrollable at some point for inferior mobile devices*/
    max-height: 0;
    overflow: hidden;
}

#adminBar.navOpen{
    animation: navOpen 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}
#adminBar.navClose{
    max-height: 80vh;
    overflow-y: hidden;
    animation: navClose 0.5s forwards;
    animation-delay: 0s;
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
}

@keyframes navOpen {
    99% {max-height: 80vh; border-bottom: 1px solid $headerBorderColor;}
    100% {max-height: 80vh; border-bottom: 1px solid $headerBorderColor; overflow-y: auto;}
}
@keyframes navClose {
    100% {max-height: 0; border-bottom: 0px solid $headerBorderColor;}
}

.admin_element, .admin_selected{
    display: block;
    text-align: left;
    margin:5px;
}

/**
* Menu
*/
.default_element, .default_selected{
    display: inline-block;
    text-align: left;
}
.default_element a:hover , .default_element a:focus{
    color: #fff;
    /*text-shadow: -4px 4px 10px #fff, 4px -4px 10px #fff, 4px 4px 10px #fff, -4px -4px 10px #fff;  
    */
}

a.default_selected{
    box-shadow:0 0 0 0px rgba(0,0,0,.15) inset,0 0 .2em rgba(0,0,0,.2) inset;
    color: #fff;
/*    background-image:-webkit-linear-gradient(transparent,rgba(20,255,20,.05) 90%,rgba(0,255,0,.5));
    background-image:-moz-linear-gradient(transparent,rgba(20,255,20,.05) 90%,rgba(0,255,0,.5));
    background-image:-ms-linear-gradient(transparent,rgba(20,255,20,.05) 90%,rgba(0,255,0,.5));
    background-image:-o-linear-gradient(transparent,rgba(20,255,20,.05) 90%,rgba(0,255,0,.5));
    background-image:linear-gradient(transparent,rgba(20,255,20,.05) 90%,rgba(0,255,0,.5));*/
  /*      box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;*/
}


/**
* Language Chooser
*/
#language_chooser{
    display:block;
    float:left;
    padding-right: 10px;
}
/*
#language_chooser .lang_element{
    

}
.lang_element{
    display:block;
    float:left;
    padding-right: 3px;
}*/

#footer {
    display:none;
    clear: both;
    position: fixed; bottom: 0px;
    height: 20px;
    width: 100%;
    background-color: #eee;
    text-align: right;

    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
#footer div{
    position:absolute;
    bottom:0px; right:0px;
    padding:5px;
}
#footer a{
    color:#fff;
}

.system{
    position: fixed;
    top: 1em;
    left: 50%;

    transform: translate(-50%, 0%);
    padding: 0.5em;
    background-color: #eee;

    font-weight: 700;
    border: #349933 1px solid;
    color: #349933;
    z-index: 1000;
}

.error{
    position: fixed;
    left: 50%;

    transform: translate(-50%, -50%);
    padding: 0.5em;
    background-color: #eee;
    font-weight: 700;
    border: #cc0000 1px solid;
    color: #cc0000;
    z-index: 1000;
}
.border{
    border: #aaa 1px solid;
}

.debug{
    color: #ccc;
}
.debug pre{
    font-size: 100%;
    color: black;
    white-space: nowrap;
}

.float{
    float:left;
}
.float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.floatRight{
    float:right;
}

.floatRight:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.admin span{
    display:block;
}

/**
 * Login / Admin Bar
*/

.loginText{
    color:#ddd;
}

#barToggle{
    position:relative; bottom: 0px; right: 0px;
    display:block;
    font-size: 8px;
    background-color: #eee;
    width:100%;
    height:10px;
    margin: 0px;
    padding: 0px;
}

#barToggle:hover{
    background-color: #ddd;
}
.adminNav a{

}
/**
* Help-text styling
*/
.help{
    color: #666;
    font-size: 90%;
    font-style: italic;
}
.warning{
    color: #FF7F00;
    font-size: 90%;
    font-style: italic;
}
a:link {
    color: #006600;
}

a:visited {
    color: #006600;
}

a:hover {
    color: #99cc99;
}
a.fc-event{
    color: white;
}
/**
 * Pure customization
*/
.pure-form fieldset {
    margin: 0px;
    padding: 0.35em 0px 0.5em 0px;
    border: 0px none;
}
a.pure-button, .pure-button{
    color: #333;
    box-sizing: border-box;
}
a.pure-button{
    /*padding-bottom: 1px;*/
}
a.pure-button-primary, .pure-button-primary{
    color: white;
    background-color: #349933;
}
a.pure-button-error, .pure-button-error {
    background: rgb(202, 60, 60);
    color:white;
}
.pure-button-dark,a.pure-button-dark {
    background-color: transparent;
    color:white;
}

.pure-button-language{
    padding: .5em .2em;
}

.pure-button-xsmall {
    font-size: 80%;
}

.pure-button-small {
    font-size: 90%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-button-dark-hover,.pure-button-dark:hover{
    background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(255,255,255,.15)),to(rgba(255,255,255,.31)));
    background-image:-webkit-linear-gradient(transparent,rgba(255,255,255,.05) 104%,rgba(255,255,255,.005));
    background-image:-moz-linear-gradient(transparent,rgba(255,255,255,.05) 104%,rgba(255,255,255,.005));
    background-image:-ms-linear-gradient(transparent,rgba(255,255,255,.05) 104%,rgba(255,255,255,.005));
    background-image:-o-linear-gradient(transparent,rgba(255,255,255,.05) 104%,rgba(255,255,255,.005));
    background-image:linear-gradient(transparent,rgba(20,255,20,.05) 90%,rgba(0,255,0,.5));
    /*    box-shadow:0 0 0 1px rgba(255,255,255,.15) inset,0 0 6px rgba(255,255,255,.3) inset;*/


}
.pure-button-dark-active,.pure-button-dark:active,.pure-button-dark:focus{box-shadow:0 0 0 0px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}

/**
 * pure form elements
*/
.pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form select, .pure-form textarea {
    color: #333;
    background-color: #fff;
}
.pure-form input[type="text"]:focus, .pure-form input[type="password"]:focus, .pure-form input[type="email"]:focus, .pure-form input[type="url"]:focus, .pure-form input[type="date"]:focus, .pure-form input[type="month"]:focus, .pure-form input[type="time"]:focus, .pure-form input[type="datetime"]:focus, .pure-form input[type="datetime-local"]:focus, .pure-form input[type="week"]:focus, .pure-form input[type="number"]:focus, .pure-form input[type="search"]:focus, .pure-form input[type="tel"]:focus, .pure-form input[type="color"]:focus, .pure-form select:focus, .pure-form textarea:focus {
    border-color: transparent;
}


.pure-button-nav,a.pure-button-nav {
    color: #eee;
    background-color: transparent;
}

.loginNav > a.pure-button-nav {
    color: #333;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.placeholder{
    font-size: 0.8em !important;
    font-style: italic;
    color: #999 !important;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}
.appIcon svg{
    width:17px;
    height:17px;
    display: inline-block;
    vertical-align: middle;
    fill: #006600; /*#33cc33;*/
}
.logoutIcon svg{
    fill: white;
}
#navLinks{
    display: inline-block;   
}
#mobileMenuButton{
    display: none;
}

.hidden{
    display:none; 
}
/**
 * own "box" elements
 */

.boxShadow{
    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
}
.boxBorder{
    padding: 0.2em;
    overflow-x: hidden;
    overflow-y: hidden;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #eee;
    border: 1px solid #99cc99;
}

/**
*  MODULE CUSTOMIZATION
*/


/**
 * BHLOG
 */

.imgBox{
    -moz-box-shadow: 1px 1px 8px #333; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 8px #333; /*Saf3+, Chr*/
    box-shadow: 1px 1px 8px #333;
    padding: 0.2em;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0.5em;
}
.imgBox img{
    width:100%;
}
.imgSub{
    font-size: 90%;
    opacity: 0.7;
}


/*
 * profilepage
*/
.user_nick{

    color: #fff;/*#349933;*/

    background-color: #000;
    background: rgba(153, 52, 52, 0.75);
}
a.user_nickLink:link{
    color: #fff;
    text-decoration: none;
}
a.user_nickLink:visited{
    color: #fff;
    text-decoration: none;
}
a.user_nickLink:hover{
    color: #006600;
    text-decoration: none;
}
.dashEntry{
    border: 1px solid #cc9999;
}
.user_image img{
    border: 1px solid #cc9999;
    background-color: #eee;
}
.svgIcon{
    width:28px;
    height:28px;
}
.svgIcon-small{
    width:15px;
    height:15px;
}
.svgIcon-light{
    fill:#fff;
}
.svgIcon-dark{
    fill:#000;
}
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.overlayCloseIcon{
    height: 20px;
    width: 20px;
}
.notificationBell{
    width:15px;
    height:15px;
}
.menuIcon{
    width:16px;
    height:16px;
}
.rssIcon{
    fill: #060;
}
.profilpageIcon{
    width:15px;
    height:15px;
}

.pure-button-site-activate{
    background-color: #afa;
}
.pure-button-site-deactivate{
    background-color: #faa;
}

video{
    max-width: 100%;
    max-height: 80vh;
}

#search{
    display: inline-block;
}
#search input[type="text"]:focus{
    border-color: #349933;
}
#s{
    display: inline-block;
    border-radius: 2px 0 0 2px;
    height:100%;
    border: 0px solid #ccc;
    width: 9em;
    margin: 0;
    /*    padding: .62em .6em .5em .6em;*/
}
.searchButton{
    margin: 0 0 0 -0.3em;
    border-radius: 0px 2px 2px 0px;
}
.searchButtonImg{
    width:15px;
    height:15px;
}
/**
 * margins for helptext in pure-form-aligned forms
 */
.help-margin{
    margin-left: 16em;
}
@media only screen and (max-width: 480px) {
    .help-margin{
        margin-left: 0em;
    }
}

#maintainanceNotice{
    padding: 0.5em;
    border: 1px solid #cc3333;
    background-color: #cc9999;
    color: #fff;
    font-weight: 700;
}
#maintainanceNotice .warnIcon{
    display: inline-block;
    height:24px;
    width:24px;
    vertical-align:middle;
}
#maintainanceNotice p{
    display: inline;
}

a.blog_tags_selected {
    color: #fff;
    background-color: #060;
}

/**
 * response, response for mobiles..
*/
@media only screen and (max-width: 1024px) {
    #navigation{
        display: block;
        width:auto;
        position: absolute;
        top: 51px;
        left: 0px;
        z-index:1000;
        background-color: #333;
        filter: alpha(opacity=90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
        border-bottom: 0px solid #006600;
        border-right: 1px solid #006600;
        border-radius: 0px 0px 3px 0px;

        max-height: 0;
        overflow-y: hidden;
    }
    #navLinks{
        background-color: #333;
    }
    .default_element, .default_selected{
        display: block;
    }
    #mobileMenuButton{
        display: inline-block;
    }

    div.logoSchrift{
        display: none;
    }
    #navLinks{
        /*        position: absolute;
                left: 0px;
                top: 40px;*/
        /*        display:none;*/
    }
    #navLinks a{
        margin:5px;   
    }
    #language_chooser{
        display:block;
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #content{
        width:97%;
    }
    #onlineUsersBar{
        width:97%;
    }

}

@media only screen and (max-width: 768px) {
    #fullOverlay{
        top:20px; bottom:20px; 
        left: 2px; right: 2px;
    }



    /*    #search .pure-form button[type="submit"]{
            margin: 0 0 0 -60px;
        }*/

}

@media only screen and (max-width: 480px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    div.logo {
        border:0;
        padding: 0 0px 0 5px;
    }
}

@media only screen and (max-width: 360px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search {
        
    }
    div.logo {
        border:0;
        padding: 0 0px 0 0px;
    }
}
@media only screen and (max-width: 348px) {
 #s {
        display:none;
    }   
}