/*
    Created on : 22.08.2019, 16:06:49
    Author     : wahrendorff
*/

/**
 * response, response for mobiles..
*/
@media only screen and (max-width: 1024px) {
    body {
        background-image: none;
    }
    #navigation{
        width:auto;
        position: absolute;
        top: 51px;
        left: 0px;
        z-index:1000;
        background-color: $headerBgColor;
        filter: alpha(opacity=90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
        border-bottom: 0px solid $headerBorderColor;
        border-right: 1px solid $headerBorderColor;
        border-radius: 0px 0px 3px 0px;

        /* with sticky headers, we need the navigation to be scrollable at some point for inferior mobile devices*/
        max-height: 0;
        overflow-y: hidden;
    }
    /*    #navLinks{
            background-color: #333;
        }*/
    .default_element, .default_selected{
        display: block;
    }
    #mobileMenuButton{
        display: inline-block;
    }
    #logo{
        float:left;
        position: absolute;
        left: 3.5em;
        padding:0;
        width:$logoContainerWidth;
    }
    #navLinks{
        /*        position: absolute;
                left: 0px;
                top: 40px;*/
    }
    #navLinks a{
        margin:5px;   
    }
    #language_chooser{
        display:block;
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #content{
        width:97%;
    }
    #onlineUsersBar{
        width:97%;
    }
}

@media only screen and (max-width: 768px) {
    #fullOverlay{
        top:20px; bottom:20px; 
        left: 2px; right: 2px;
    }

    /*    #search .pure-form button[type="submit"]{
            margin: 0 0 0 -60px;
        }*/

}

@media only screen and (max-width: 480px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    input,textarea{
        max-width: 90vw;
    }
    #s{
        width:5em;
    }
}

@media only screen and (max-width: 320px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    input,textarea{
        max-width: 90vw;
    }
}