/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23.08.2019, 15:48:40
    Author     : wahrendorff
*/

/**
 * Purecss customization
*/
.pure-form label.pure-top-label {
    vertical-align: top;
}
.pure-form legend {
    color: $inputColor;
    opacity: 0.9;
}
.pure-form fieldset {
    margin: 0px;
    padding: 0.35em 0px 0.5em 0px;
    border: 0px none;
}
a.pure-button, .pure-button{
    color: $buttonColor;
    background-color: $buttonBgColor;
    box-sizing: border-box;
}
a.pure-button{
    /*padding-bottom: 1px;*/
}
a.pure-button-primary, .pure-button-primary{
    color: $buttonPrimaryColor;
    background-color: $buttonPrimaryBgColor;
}
a.pure-button-error, .pure-button-error {
    color:$buttonErrorColor;
    background-color: $buttonErrorBgColor;
}
.pure-button-nav,a.pure-button-nav {
    color:$navButtonColor;
    background-color: $navButtonBgColor;
}

.loginNav > a.pure-button-nav {
    color: $contentColor;
}

.pure-button-language{
    padding: .5em .2em;
}

.pure-button-xsmall {
    font-size: 80%;
}

.pure-button-small {
    font-size: 90%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-button-nav-hover,.pure-button-nav:hover{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00349933', endColorstr='#ff349933', GradientType=0);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(255,255,255,.15)),to(rgba(255,255,255,.31)));
    background-image:-webkit-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:-moz-linear-gradient(top,rgba(255,255,255,.15) 0,rgba(255,255,255,.31));
    background-image:-ms-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:-o-linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    background-image:linear-gradient(transparent,rgba(255,255,255,.15) 40%,rgba(255,255,255,.31));
    box-shadow:0 0 0 1px rgba(255,255,255,.15) inset,0 0 6px rgba(255,255,255,.3) inset;
}
.pure-button-nav:focus{/*outline:0*/}
.pure-button-nav-active,.pure-button-nav:active,.pure-button-nav:focus{box-shadow:0 0 0 0px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset}

/**
 * pure form elements
*/
.pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form select, .pure-form textarea {
    color: $inputColor;
    background-color: $inputBgColor;
}
.pure-form input[type="text"]:focus, .pure-form input[type="password"]:focus, .pure-form input[type="email"]:focus, .pure-form input[type="url"]:focus, .pure-form input[type="date"]:focus, .pure-form input[type="month"]:focus, .pure-form input[type="time"]:focus, .pure-form input[type="datetime"]:focus, .pure-form input[type="datetime-local"]:focus, .pure-form input[type="week"]:focus, .pure-form input[type="number"]:focus, .pure-form input[type="search"]:focus, .pure-form input[type="tel"]:focus, .pure-form input[type="color"]:focus, .pure-form select:focus, .pure-form textarea:focus {
    border-color: $inputBorderColor;
}
.pure-form input[type=checkbox]:focus{
    /*    outline:thin dotted $inputBorderColor;*/
    /*    outline:1px auto #cc3333;*/
}

.pure-form-aligned .pure-control-group input[type='checkbox'] + label{
    display: inline-flex;
    margin-left: 11.25em;
    width: auto;
    text-align: left;
}


/** CHeckboxes **/
:root {
    --duration: .4s;
}

.pure-checker {
    position: relative;
    display: inline-block;
    /*  font-size: 20vmin;*/
    height: 1.3em;
    width: auto;
    box-sizing: content-box;
/*    padding: 0.15em;*/
    border-radius: 0.25em;
    transition: transform var(--duration) ease;
    cursor: pointer;
}

.pure-form-aligned .pure-control-group label.pure-checker {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 11.25em;
}

.pure-form-aligned .pure-controls label.pure-checker {
    margin-bottom: 1em;
}
label.pure-checker span.label{
    vertical-align: middle;
}

/*.pure-checker, .pure-checker + label{
    margin-left: 11.25em;            
}*/
.checker{
    position: relative;
    display: inline-block;
    width: 2.5em;
    padding: 0.15em;
    vertical-align: middle;
    border: 1px solid $buttonBgColor;
    transition: border var(--duration) ease;
    border-radius: 3px;
}

.checker-checked{
    border: 1px solid $buttonPrimaryBgColor;
    transition: border var(--duration) ease;
}

.checkmark {
    position: relative;
    width: 1em;
    height: 1em;
    transition: transform var(--duration) ease;
    transform: translateX(-.4em);

    z-index: 5;

    svg {
        display: block;
        background: $buttonBgColor;
        transform: translateX(.4em);
        border-radius: 0.15em;

        transition: 
            background-color var(--duration) ease,
            transform calc(var(--duration) * 1.5) ease;

        path {
            // opacity: 0;
            stroke-dasharray: 90 90;
            stroke-dashoffset: 90;
            transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
        }

    }
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    visibility: hidden;

    &:checked {
        ~ .checkmark {
            transform: translate(1.9em);

            svg {
                background: $buttonPrimaryBgColor;
                transform: translate(-.4em);
                path { stroke-dashoffset: 0; }
            }
        }
    }
}

.check-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: white;
    z-index: 2;

    &:before,
        &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /*    height: 100%;
            width: 100%;*/
        border-radius: inherit;
    }

    &:after {
        background: white;
    }

    &:before {
        transition: transform var(--duration) ease;
/*        transform: translateY(90%);*/
        transform-origin: bottom center;
        background: black;
        filter: blur(.25em);
        opacity: 0.2;
        z-index: -1;
    }
}

.pure-checker.pure-checker {

    &:active {
/*        transform: scale(0.85); */
        transition-duration: calc(var(--duration) / 2);

        .check-bg::before {
/*            transform: translateY(0) scale(0.8);*/
            opacity: 0.2;
        }
    }
}

// --------------------------
@media only screen and (max-width: 480px) {
    .pure-form-aligned .pure-control-group input[type='checkbox'] + label,
    .pure-form-aligned .pure-control-group label.pure-checker{
        margin-left: 0;
    }
}
/** END Purecss customization **/ 