/**
 *  install.css
 */
.boldFont{
    font-weight: bold;
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 50%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 25%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 20%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #349933;
}
ol.progtrckr li.progtrckr-todo {
    color: #999; 
    border-bottom: 4px solid #999;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #349933;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: #999;
    background-color: #D3D3D3;
    font-size: 1.5em;
    bottom: -1.6em;
}
/**
 * svgicons on system Check
 */
.success{
    fill: green;
}
.fail{
    fill: red;
}
.systemCheck{
    margin-bottom: 1em;
}
/**
* fix labels beeing to small in configuration
*/
.pure-label-extrawidth{
    width: 13em;
}
label.pure-checker{
    margin-left: 14.3em !important;
}
.help-margin{
    margin-left: 16em;
}
@media only screen and (max-width: 480px) {
    .help-margin, label.pure-checker{
        margin-left: 0em !important;
    }
}