/* 
    Document   : trails
    Created on : 17.04.2014, 08:38:07
    Author     : tim
    Description:
        Purpose of the stylesheet follows.
*/

.categoryTile{
    position: relative;
    padding: 3px;
    min-height: 100px;
    overflow-y: hidden;
}
.trail{
    position: relative;
    padding: 3px;
}
.categoryName{
    position: absolute; 
    top: 3px; 
    left: 3px;
    /*       right: 3px;*/
    /*    width: 100%; */
    padding: 5px;
    margin-right:3px;

    font-size: 125%;
    font-weight: 700;
    color: #fff;/*#349933;*/

    background-color: #000;
    background: rgba(52, 153, 52, 0.75);
}
.trailsCount{
    position: absolute; 
    bottom: 7px; 
    right: 3px;
    /*       right: 3px;*/
    /*    width: 100%; */
    padding: 5px;
    margin-left:3px;

    font-size: 80%;
    font-weight: 700;
    color: #fff;/*#349933;*/

    background-color: #000;
    background: rgba(52, 153, 52, 0.75);
}

.categoryImage{
    /*    max-height: 100%;
        min-width: 100%;*/
}

.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}
a.categoryLink:link{
    color: #fff;
    text-decoration: none;
}
a.categoryLink:visited{
    color: #fff;
    text-decoration: none;
}
a.categoryLink:hover{
    color: #349933;
    text-decoration: none;
}


/**
 * Image selection
*/

.imageTile{
    display: inline-block;
    width: 150px;
    height: 170px;
    /*     border: 1px solid black;*/
}
.imagePadding{
    position: relative;
    padding: 2px;
    overflow: hidden;

}
.selectableFile{
    /*     width:145px;*/
    max-height: 150px;
    overflow:hidden;
}
.selectableFile:hover{
    cursor:pointer;
}
.dir:hover{
    cursor:pointer;
}
.imgdetail{
    font-size: 8pt;
    color: #666;
}

.uploadFilesForm{
    display: none;
}
.createNewDirForm{
    display: none;
}
#uploadProgress{
    position: relative;

    width: 100%;
    height:15px;
    font-size: 10pt;
    background-color: #349933;
    color: #fff;
}

.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}

#legendEditForm{
    display:none;
}