/* 
    Document   : calendar.css
    Created on : 25.10.2013, 23:28:06
    Author     : tim
    Description:
        Purpose of the stylesheet follows.
*/


div.nextEvent{
    /*     font-size: 10pt; */
    margin: 0px 0px 10px 0px;
}
a.fc-event{
    color: #cccccc;
}
@media only screen and (max-width: 768px) {
    div.nextEvent{
        float:left;
        margin: 0px 10px 10px 0px;
/*        color: red;*/
    }
}
