
    <a href="?showDetail=<?php echo $user['id']; ?>">
        <div id="contact_<?php echo $user['id']; ?>" class="contact_a">
            
            <?php echo $this->image('off.png', 'status_off', '10px', '10px', 'off'); ?>
            <?php echo $this->image('on.png', 'status_on', '10px', '10px', 'on'); ?>
            
            <div class="entry_img">
                <?php echo $this->image($user['image'], 'profile_pic', '32px', '32px', "{$user['nick']}"); ?>
            </div>
            
            
            <!--<img class="profile_pic" src="<?php echo $user['image_path']; ?>" />-->
            <span id="active_contact_<?php echo $user['id']; ?>" style="display:none;">*</span>
            <span class=""><?php echo $user['nick']; ?></span>
            <div style="clear:both;"></div>
        </div>
    </a>

