<!--<div class="warning">
    <?php //echo $this->ts("Warning: Using this chat on a mobile device can cause rapid battery loss!"); ?>
</div>-->
<div class="pure-g pure-g-r">
    <div id="contactList" class="pure-u-1-6">
        
                <div id="contactsHeading" class="contact_a">
                    <?php echo $this->ts("Contacts"); ?>
                </div>
            
            <?php echo $contacts ?>
        <div style="clear:both;"></div>
    </div>
    <div class="pure-u-5-6">
        <div id="messagesContainer" >
            <?php echo $content ?>
            
        </div>
        

    </div>

</div>
