/**********
 * 
 * Chat 
 *
 **/
#chatContent{
}
#chatWindow{
    height:400px;
    text-align:left;
    /*    padding:5px;*/
    box-sizing: border-box;
    border: 1px solid #ccc;
    background:#fff;
    overflow:auto;
    line-height: 120%;
}

#userList{
    height: 400px;
    float:right;
    background:#fff;
    overflow:auto; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align:left;
}
#chatInputDiv{
     position:relative; 
    height: 30px;
   padding-bottom: 40px;
}
#chatInputDiv input[type="text"]{

    width:100%;
}
#chatInputDiv input[type="text"]:focus{

    width:100%;
    border-color: #ccc;
}
#chatInputDiv input[type="text"]:hover{

    width:100%;
    border-color: #ccc;
}
#chatInputDiv input[type="submit"]{
    /*    font-size: 12px;    */
}

div.chatMsg{
}
div.chatSysMsg{
    color:#666;
}
span.chatCommand{
    font-style: italic;
    font-weight: 500;
}

span.chatDate{
    font-stretch: ultra-condensed;
}
span.chatNick{
    color: #000;
    font-weight: bold;
}

.chatHighlight{
    background-color: #00cc00;
}
