.site{
    float:left;
}
.site_security{
    float:left;
}
#sortable {width: 100%; }
#sortable div {  }
/*#sortable div span { position: absolute; margin-left: -1.3em; }*/

/*.selected_lang{
    color: #346633;
    font-weight: bold;
    text-decoration: none;
}*/
#result{
    min-height: 1em;
}
.siteModule{
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    display:block;  

}

.siteInactive{
    background: transparent; 

}

.siteModule .moduleLink{
    font-size: 1.4em;
    font-weight: normal; 
    text-decoration: none;
}
.siteInactive .moduleLink{
    font-size: 1.4em;
    font-weight: normal; 
    opacity: 0.8;
    text-decoration: none;
}

.siteInactive input[type='text']{
    opacity: 0.5;
}
.siteInactive .svgIcon-dark{
    opacity: 0.8
}

.rightEveryoneIcon{
    /*    fill: #87CEEB;*/
}

.clearBoth{
    clear:both;
}

.moduleName{
}

.description, .version{
    font-size: 90%;
    opacity: 0.7;
}
