<form method="post" action="<?php echo $this->action('profilpage/dash'); ?>" >
    <input type="hidden" name="id" value="<?php echo $e['id']; ?>" />
    <input type="hidden" name="userId" value="<?php echo $e['user_id']; ?>" />
    <textarea id="text" name='text' >
        <?php echo $e['text']; ?>
    </textarea>

    <button name='updateEntry' class='pure-button pure-button-primary' ><?php echo $this->ts('update entry'); ?></button>
</form>