/** TODO: base colors to change theme quickly*/

/* fonts - set empty string fontFile, if you wish to not include a fontface to fontfiles*/
$fontFamily: 'Montserrat';
$fontFormat: 'woff2';

$fontBaseDir: $relativeUrl+'theme/'+$siteStyle+'/css/fonts/';
$fontFileRegular: 'Montserrat/Montserrat-Regular.woff2';
$fontFileBold: 'Montserrat/Montserrat-Bold.woff2';
$fontFileItalic: 'Montserrat/Montserrat-Italic.woff2';
$fontFileItalicBold: 'Montserrat/Montserrat-BoldItalic.woff2';

$fontFamilyMono: '';
$fontFileMono: '';

/* header area colors*/
$headerBgColor:#333333;
$headerBorderColor:#000000;
$headerColor:#eeeeee;
$headerOpacity:0.9;

/* navigation buttons colors */
$navButtonColor:#ffffff;
$navButtonBgColor:transparent;

/* icon Colors */
$appIconColor:#336633;
$logoutIconColor:#ffffff;
$svgIconLightColor:#ffffff;
$svgIconDarkColor:#000000;
$rssIconColor:$appIconColor;

/* logo */
$logoUrl:'theme/'+$siteStyle+'/images/logo.png';
$logoContainerWidth:60px;
$logoContainerHeight:35px;
$logoSize:auto 36px;
$logoPosition:center center;

/* body */
$bodyColor:#ffffff;
$bodyBgColor:#999999;
$bodyBgImageUrl:'';

/* content area colors */
$contentColor:#000000;
$contentBgColor:#ffffff;
$contentBorderColor:#999999;
$contentOpacity:0.85;

/* boxes and shadows */
$boxShadowColor:#333333;
$boxBorder:1px solid $contentBorderColor;

/* messages */
$systemMessageColor:#339933;
$errorMessageColor:#993333;
$maintainanceNoticeColor:#ffffff;
$maintainanceNoticeBgColor:#cc9999;
$maintainanceNoticeBorderColor:#cc3333;

/* headline colors */
$h1Color:#336633;
$h2Color:$h1Color;
$h3Color:$h1Color;
$h4Color:$h1Color;
$h5Color:$h1Color;
$h6Color:$h1Color;

/* link colors */
$aLinkColor:#336633;
$aHoverColor:#99cc99;

/* blockquote colors */
$blockquoteColor:#333333;
$blockquoteQuotesColor:#666666;
$blockquoteSpanColor:#999999;

/* form/input colors */
$inputColor:$contentColor;
$inputBgColor:#ffffff;
$inputBorderColor:#cc9999;
$inputFocusBorderColor:#ffff00;
$inputShadowColor:$inputBorderColor;
$ckeditorUiColor:$contentBgColor;

/* button colors */
$buttonColor:#000000;
$buttonBgColor:#cccccc;
$buttonPrimaryColor:#ffffff;
$buttonPrimaryBgColor:#339933;
$buttonErrorColor:#ffffff;
$buttonErrorBgColor:#993333;

/* Accessibility */
$focusOutlineColor:$aLinkColor;
$focusOutlineSize:1px;
$focusOutlineStyle:dotted;

/* footer */
$footerBgColor:$headerBgColor;
$footerColor:$headerColor;
$footerBorderColor:$headerBorderColor;
$footerOpacity:$headerOpacity;
$footerTextAlign:right;
$footerHeight:auto;
$footerPosition:sticky;
