/* body */
$bodyColor:#ffffff;
$bodyBgColor:#c6c6c6;
$bodyBgImageUrl:'theme/'+$siteStyle+'/images/wallpaper.jpg';
$bodyBgSize:auto 100%;

/* fonts - set empty string fontFile, if you wish to not include a fontface to fontfiles*/
$fontFamily: 'Ubuntu';
$fontFormat: 'woff2';

$fontBaseDir: $relativeUrl+'theme/'+$siteStyle+'/css/fonts/Ubuntu/';
$fontFileRegular: 'Ubuntu-Regular.woff2';
$fontFileBold: 'Ubuntu-Bold.woff2';
$fontFileItalic: 'Ubuntu-RegularItalic.woff2';
$fontFileItalicBold: 'Ubuntu-BoldItalic.woff2';

$fontFamilyMono: 'Ubuntu Mono';
$fontFileMono: 'UbuntuMono-Regular.woff2';


/* header area colors*/
$headerBgColor:#333333;
$headerBorderColor:#006600;
$headerColor:#eeeeee;
$headerOpacity:0.9;

/* navigation buttons colors */
$navButtonColor:#ffffff;
$navButtonBgColor:transparent;

/* icon Colors */
$appIconColor:#006600;
$logoutIconColor:#ffffff;
$svgIconLightColor:#ffffff;
$svgIconDarkColor:#000000;
$rssIconColor:$appIconColor;

/* logo */
$logoUrl:'theme/'+$siteStyle+'/images/logo.svg';
$logoContainerWidth:60px;
$logoContainerHeight:35px;
$logoSize:auto 36px;
$logoPosition:center center;

/* content area colors */
$contentColor:#000000;
$contentBgColor:#ffffff;
$contentBorderColor:#006600;
$contentOpacity:0.9;

/* boxes and shadows */
$boxShadowColor:#333333;
$boxBorder:1px solid $contentBorderColor;

/* messages */
$systemMessageColor:#006600;
$errorMessageColor:#660000;
$maintainanceNoticeColor:#ffffff;
$maintainanceNoticeBgColor:#cc9999;
$maintainanceNoticeBorderColor:#cc3333;

/* headline colors */
$h1Color:#336633;
$h2Color:$h1Color;
$h3Color:$h1Color;
$h4Color:$h1Color;
$h5Color:$h1Color;
$h6Color:$h1Color;

/* link colors */
$aLinkColor:#006600;
$aVisitedColor:#006600;
$aHoverColor:#393933;

/* blockquote colors */
$blockquoteColor:#333333;
$blockquoteQuotesColor:#666666;
$blockquoteSpanColor:#999999;

/* form/input colors */
$inputColor:$contentColor;
$inputBgColor:#ffffff;
$inputBorderColor:$contentBorderColor;
$inputFocusBorderColor:#ffff00;

/* button colors */
$buttonColor:#000000;
$buttonBgColor:#cccccc;
$buttonPrimaryColor:#ffffff;
$buttonPrimaryBgColor:#006600;
$buttonErrorColor:#ffffff;
$buttonErrorBgColor:#993333;

/* Accessibility */
$focusOutlineColor: $aLinkColor;
$focusOutlineSize: 1px;
$focusOutlineStyle: dotted;

/* footer */
$footerBgColor:$headerBgColor;
$footerColor:$headerColor;
$footerBorderColor:$headerBorderColor;
$footerOpacity:$headerOpacity;
$footerTextAlign:right;
$footerHeight:auto;
$footerPosition:sticky;
