.userGroup{
    float:left;
    padding-right: 20px;
    width:48%;
    min-width: 400px;
}
.insertUser{
    padding-top:20px;
}
.insertRole{
    padding-top:20px;
}
.roleGroup{
    float:left;
    right: 0px;
    width:48%;
    min-width: 400px;

}


/**
 * Image selection
*/

.imageTile{
    display: inline-block;
    width: 150px;
    height: 170px;
    /*     border: 1px solid black;*/
}
.imagePadding{
    position: relative;
    padding: 2px;
    overflow: hidden;

}
.selectableFile{
    /*     width:145px;*/
    max-height: 150px;
    overflow:hidden;
}
.selectableFile:hover{
    cursor:pointer;
}
.dir:hover{
    cursor:pointer;
}
.imgdetail{
    font-size: 8pt;
    color: #666;
}

.uploadFilesForm{
    display: none;
}
.createNewDirForm{
    display: none;
}
#uploadProgress{
    position: relative;

    width: 100%;
    height:15px;
    font-size: 10pt;
    background-color: #349933;
    color: #fff;
}

.editButtons{
    position: absolute; 
    top: 3px; 
    right: 3px;
}

#legendEditForm{
    display:none;
}

.image32{
    display: inline-block;
    vertical-align: top;
    max-width: 32px;
    max-height: 32px;
}
.image16{
    display: inline-block;
    vertical-align: top;
    max-width:16px;
    max-height: 16px;
}

/**
 * Responsive Tables... Scoll wrapper for small screens
 */

 .tableWrapper{
    overflow: auto;
 }