/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04.04.2021, 22:40:39
    Author     : rakete
*/

.negativeBalance{
    color:red;
}
.userNick{
    font-weight: 500;
    text-decoration: none !important;
}

.overlay{
    display: none;
    position: fixed;
    top: 4em;
    bottom: 1em;
    width: 90%;
    max-width: 72em;
    z-index: 1102;
    padding:  0.3em;
    background-color:#ffffff;
}

.overlay_background{
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    z-index: 1101;
    background-color:#ffffff;
    opacity: 0.8;
}
.accountContainer{
    padding: 0.2em;
}

.accountPic{
    position: relative;
    height: 40vh;
    overflow: hidden;
}
.accountPic > img {
    display: block;
    margin: auto;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
h3.userNick{
    margin-top: 0;
}

/**
 * Image selection
*/

.imageTile{
    display: inline-block;
    width: 150px;
    height: 190px;
    overflow: hidden;
    /*     border: 1px solid black;*/
}
.imagePadding{
    position: relative;
    padding: 2px;
    overflow: hidden;
    border: transparent solid 1px;
    height: 184px;
}
.imagePadding:hover{
    border: #349933 solid 1px;
    background-color: #66cc66;
}
.selectableFile{
    /*     width:145px;*/
    height: 130px;
    overflow:hidden;
}
.selectableFile:hover{
    cursor:pointer;
}
.dir:hover{
    cursor:pointer;
}
a.dir span{
    text-decoration: none;
    color: #000;
}
a.dir:hover{
    text-decoration: none;
    color: #000;
}
a.dir:link{
    text-decoration: none;
    color: #000;
}
.imgdetail{
    position: absolute;
    bottom: 0px;
    font-size: 8pt;
    color: #666;
    opacity: 0.5;
    background-color: #eee;
    min-width:100%;
}