html, body {
    height: 100%;
}
a.itemContent:link{
    text-decoration: none;
    color: black;
}
.itemContent{
    max-height: 10em;
    overflow: hidden;
    text-align: justify;
}
.itemContent img{
    width: auto;
    text-align: left;
    float:left;
    padding-right: 0.5em;
    max-height: 4.5em;

}
.feedTile{
    color: #333;
    background-color: #eee;
    border: 1px solid #cc9999;
    margin: 0.25em;
    padding: 0.5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}
.feedBox > h4 > a{
    text-decoration: none;
}

.ext_fav{
    max-height: 1em;
    
}

/**
 * Get rid of annoying ad placeholders at bottom of the page
 */
 .vdh-mask{
    display:none !important;
 }
/*
* Usage:
*
* <div class="sk-spinner sk-spinner-wandering-cubes">
* <div class="sk-cube1"></div>
* <div class="sk-cube2"></div>
* </div>
*
*/
.sk-spinner-wandering-cubes.sk-spinner {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    position: relative; }
.sk-spinner-wandering-cubes .sk-cube1, .sk-spinner-wandering-cubes .sk-cube2 {
    background-color: #333;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCubeMove 1.8s infinite ease-in-out;
    animation: sk-wanderingCubeMove 1.8s infinite ease-in-out; }
.sk-spinner-wandering-cubes .sk-cube2 {
    background-color: #cc0000;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }

@-webkit-keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5); }
    50% {
         /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } }
@keyframes sk-wanderingCubeMove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
        transform: translateX(42px) rotate(-90deg) scale(0.5); }
    50% {
         /*Hack to make FF rotate in the right direction */
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
        transform: translateX(42px) translateY(42px) rotate(-179deg); }
    50.1% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        transform: translateX(42px) translateY(42px) rotate(-180deg); }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); } 
}
