.help-margin{
    margin-left: 16em;
}
label.pure-checker{
    margin-left: 14.3em !important;
}
@media only screen and (max-width: 480px) {
    .help-margin, label.pure-checker{
        margin-left: 0em !important;
    }

}
