/* body colors */
$bodyColor:#fff;
$bodyBgColor:#666;

/* header area colors*/
$headerBgColor:#333;
$headerBorderColor:#c00;
$headerColor:#eeeeee;
$headerOpacity:0.9;

/* navigation buttons colors */
$navButtonColor:#fff;
$navButtonBgColor:transparent;

/* icon Colors */
$appIconColor:#933;
$logoutIconColor:white;
$svgIconLightColor:#fff;
$svgIconDarkColor:#000;
$rssIconColor:#c33;

/* logo */
$logoUrl:'theme/default/images/logo.png';
$logoContainerWidth:60px;
$logoContainerHeight:36px;
$logoSize:auto 36px;
$logoPosition:center center;

/* content area colors */
$contentColor:#000;
$contentBgColor:#eee;
$contentBorderColor:#c99;
$contentOpacity:0.9;

/* boxes and shadows */
$boxShadowColor:#333;
$boxBorder:1px solid $contentBorderColor;

/* messages */
$systemMessageColor:#393;
$errorMessageColor:#933;
$maintainanceNoticeColor:#fff;
$maintainanceNoticeBgColor:#c99;
$maintainanceNoticeBorderColor:#c33;

/* headline colors */
$h1Color:#c00;
$h2Color:$h1Color;
$h3Color:$h1Color;
$h4Color:$h1Color;
$h5Color:$h1Color;
$h6Color:$h1Color;

/* link colors */
$aLinkColor:#c00;
$aVisitedColor:#c00;
$aHoverColor:#c99;

/* blockquote colors */
$blockquoteColor:#333;
$blockquoteQuotesColor:#666;
$blockquoteSpanColor:#999;

/* form/input colors */
$inputColor:$contentColor;
$inputBgColor:#fff;
$inputBorderColor:$contentBorderColor;
$inputFocusBorderColor:#ff0;
$inputShadowColor:$inputBorderColor;

/* button colors */
$buttonColor:#000;
$buttonBgColor:#ccc;
$buttonPrimaryColor:#fff;
$buttonPrimaryBgColor:#393;
$buttonErrorColor:#fff;
$buttonErrorBgColor:#933;