/*
Copyright (c) 2003-2009, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
/*@font-face {
    font-family: 'colaborate-regular';
    src: url('css/fonts/ColabReg-webfont.woff') format('woff');
    font-weight: normal;
}*/

/** {
	font-family: sans-serif; 
	margin:0em;  
	padding:0em;
}*/
body
{
	/* Font */
	font-family: 'Montserrat', sans-serif;  
	font-size:  1em;
    line-height: 150%;
/*	font-size:16pt;*/
	/* Text color */
	color:#000;

	/* Remove the background color to make it transparent */
	background-color: #fff;
    background-image: none;
    opacity: 1.0;
    
    
}

html
{
	/* #3658: [IE6] Editor document has horizontal scrollbar on long lines
	To prevent this misbehavior, we show the scrollbar always */
	_overflow-y: scroll;
	/*font-size:16pt;*/
        font-size:  1em;
}

img:-moz-broken
{
	-moz-force-broken-image-icon : 1;
	width : 24px;
	height : 24px;
}
img, input, textarea
{
	cursor: default;
}

/**
 * ... will be filled up with style.css from theme, programmatically. 
 */
