/**
* TODO
*/

.inputContainer {
  position: relative;
}
#messagesContainer {
  height: 540px;
}

#msgCon textarea {
  /* width: 100%; */
  width: 80%;
  float: left;
  display: inline;
  height: 50px;
  margin-bottom: 20px;
}

#msgContainer {
  /* max-height: 435px; */
  height: 430px;
  overflow:auto;
}
#msgSubmit {
  display: inline;
  width: 18%;
}
#contactsHeading{
    /*    color: #ccc;*/
    font-weight: bold;

}

#chatDetail{
    /*    position:absolute;*/
    /*    color:white;*/
    width: 100%;
    height: 25px;

}

#contactList{
    max-height: 540px;
    overflow-y: scroll; 
    overflow-x: hidden; 
    /*    height: 100%;*/
    font-size: 10pt;
    text-align:left;

}
#contactList img{

    /*    vertical-align: middle;*/

}
.contact_img{
    display:inline-block;
    width: 32px;
}
#contactList a{
    text-decoration: none;

}
#contactList a:hover{
    /*    color:#eee;*/
}
.contact {
    /*    float: left;*/
    height: 170px;
    width: 130px;

    border: 1px solid #ccc;

    overflow: hidden;
    padding: 5px;
}
.contact_a{
    clear:both;
    color: #333;
    width:100%;
    height:auto;
    padding: 3px 0px 3px 0px;
    border-bottom: 1px solid #ccc;
}
.entry{
    margin-bottom: 0.5em;
    font-size: 10pt;
}
img.profile_pic{
    /*    height: 16px; 
        width:16px;*/
    padding-right:3px;
    float:left;
}
.entry_date{
    float: right;
    /*    color: #aaa;*/
    font-size: 8pt;
    padding-right: 5px;
}
.entry_nick{
    /*    color: #aaa;*/
    font-size: 9pt;
    font-weight: bold;
}
.entry_text{
    /*    color:#eee;*/
    padding: 5px 5px 5px 15px;
}
.messageHelp{
    position:absolute; 
    bottom: 5px; 
    padding-top: 10px;
    /*    color:#eee;*/

}
.bigSubmit{
    float:left;
    vertical-align: middle;
    height:50px;
    width: 95px;
    border: 0px;
}
/**/
#subCon {
  /* position: relative; */
  /* float: right; */
  /* right: 0; */
  /* width: 100px; */
  /* height: 50px; */
}
#chatInput {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 17%;
}
.status_off{
    float:right;
    width:10px;
    height:10px;
    padding-top: 3px;

}
.status_on{
    display:none;
    float:right;
    width:10px;
    height:10px;
    padding-top: 3px;

}

.entry_img{
    height: 32px; 
    width:32px;
    padding-right:3px;
    float:left;
}
.smilie {
    vertical-align: middle;
}
#smilieSelect{
    position:absolute; bottom: 25px; left: 25px;
    display:none;
    width:75%;
    background-color: #eee;
    padding:5px;
    border-radius: 3px;
    border: 1px solid #aaa;


}
.smilieContainer{
    float:left;
    padding: 3px; 
}

@media only screen and (max-width: 768px) {
    #chatInput{
        left: 0px;
    }

}