/*
    Created on : 22.08.2019, 16:06:49
    Author     : wahrendorff
*/

/**
 * response, response for mobiles..
*/
@media only screen and (max-width: 1024px) {
    body {
    }
    #navigation{
        width:95%;
        text-align: center;
        position: absolute;
        top: 51px;
        left: 0px;
        margin:auto;
        z-index:1000;
        background-color: $headerBgColor;
        background-image: url($relativeUrl+$bodyBgImageUrl);
        background-size: auto auto;
        background-position: center center; 
        background-repeat: repeat; 
        background-attachment: local; 

        max-height: 0;
        overflow-y: hidden;
    }
    .default_element, .default_selected{
        display: block;
    }
    .pure-button-nav{
        
    }
        
    #mobileMenuButton{
        display: inline-block;
        vertical-align: top;
        flex-grow: 3;
    }
    #logo{
        padding:0;
        width:$logoContainerWidth;
    }
    #navLinks a{
        margin:5px;  
        text-align: center;
    }
    #navLinks {
        width: 100%;
    }
    #language_chooser{
        display:block;
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #content{
        width:97%;
    }
    #onlineUsersBar{
        width:97%;
    }
}

@media only screen and (max-width: 768px) {
    #fullOverlay{
        top:20px; bottom:20px; 
        left: 2px; right: 2px;
    }
    #logoArea {
        margin: auto;
    }

    /*    #search .pure-form button[type="submit"]{
            margin: 0 0 0 -60px;
        }*/

}
@media only screen and (max-width: 664px) {
    
}

@media only screen and (max-width: 480px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    input,textarea{
        max-width: 90vw;
    }
    #s{
        width:5em;
    }
    
}

@media only screen and (max-width: 320px) {
    #content{
        width:95%;
    }
    #onlineUsersBar{
        width:95%;
    }
    #settingsButton .settingsNick{
        display: none;
    }
    #search .pure-form button[type="submit"]{
        margin: 0 0 0 -0.3em;
    }
    input,textarea{
        max-width: 90vw;
    }
    
}