/**
Blog
**/
.pure-form input[type="text"]{
    width: 90%;
    margin-bottom: .5em;
}
@media only screen and (max-width: 767px) {
    .pure-form input[type="text"]{
        width: 100%;
        margin-bottom: .5em;
    }
    
}
.inactiveArticle{
    font-style: italic;
}
.articleNotPublished{
    font-style: italic;
}
#newArticleButton{
    float:right;
}
.blogGroup{
    float:left;
    width:302px;
    height:402px;
    /*  background-color:black;*/
    padding: 5px;
    overflow: auto;
}
.blogTab{
    float:left;
    width:312px;
    height:412px;
    background-color:black;
    padding: 0px;
}
.ui-widget-content{
}
.last{
    float:left;
    text-align: right;
    padding-right: 10px;
}
.next{
    float:left;
}
.authorAndDate{
    
}
.author{
    float: left;
    font-size:  90%;
    padding: 0.5em 1em 1em 0;
    font-style: italic;
}
.date{
    display: flex;
    font-size:  90%;
    opacity: 0.8;
    padding: .5em 0em .5em 0;
    font-style: italic;
}
.svgIcon{
    height: 1em !important;
    width: 1em !important;
    
}
.dateMainList{
}
.editDateMainList{
    padding-left: .5em;
}
.time{
    float:right;
}
.deleteComment{
    float:right;
}
.blog_buttons{
    float: right;
    display: inline;
}
.blog_article{
    margin: 0em 0.2em 0em 0.2em;
    padding-bottom: 25px;
}
#blogHeader{
/*    color:#000;*/
    font-size : 200%;
    font-weight : bold;
}
#blogArticle{
    text-align: justify;
    line-height: 150%;
}
#blogArticle > p:first-of-type:first-letter {
/*    color:#000;*/
    font-size : 200%;
    /*    font-family: serif;*/
    font-weight : bold;
    /*    float : left;*/
    
}
.blog_text{
    text-align: justify;
    line-height: 150%;
}

.blog_tags{
    line-height: 22pt;
}
.blog_tags_selected{
    line-height: 22pt;
}
.tags{
    display:inline;
    padding-bottom: 0px;
    padding-top: 0px;
}
.tags a.blog_tags{
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}
.tags a.blog_tags:hover{
    padding: 5px;
/*    background-color: #000;
    color: #ffef8f;*/
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}
.tags a.blog_tags_selected{
    padding: 5px;
    background-color: $aLinkColor;
    color: $contentBgColor;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
}
.blog_heading a{
/*    color:#000;*/
/*    font-size : 200%;*/
    /*    font-family: Arial,Helvetica,sans-serif; */
    padding-bottom:0.5em;
    font-weight: bold;
    /*    text-decoration: underline;*/
    text-decoration: none;
}

.blog_heading a:visited {
/*    font-size : 200%;*/
    /*    font-family: Arial,Helvetica,sans-serif; */
    padding-bottom:0.5em;

    font-weight: bold;
    text-decoration: none;
}

.blog_heading a:hover {
/*    color:#666;*/
/*    font-size : 200%;*/
    font-weight: bold;
    text-decoration: underline;
}

#prevnext{
    /*    position: relative; */
    /*    right: 0px;*/
    float: right;
    /*    margin:0px auto;*/
}
.fb_button a{
/*    background-color: #fff;*/
}
div.bubble{
    z-index: 0;
    position: relative;  
    /*    width: 200px;  
        height: 100px; */
    background-color: $contentBgColor;
    border: .15em solid $contentBorderColor;  
    -webkit-border-radius: 1em;  
    -moz-border-radius: 1em;  
    border-radius: 1em;  
    /*        -webkit-box-shadow: 2px 2px 4px #888;  
            -moz-box-shadow: 2px 2px 4px #888;  
            box-shadow: 2px 2px 4px #888; */
    padding: .15em;
}
/*div.bubble:after  
{  
    content: ' ';  
        position: absolute;  
    width: 0;  
    height: 0;  
    left: 50px;  
    top: 150px;  
    border: 25px solid;  
    border-color: #666 transparent transparent #666;  
}  */
div.after_bubble{
    z-index: 100;
    content: ' ';  
    /*       position: absolute; */
    width: 0;  
    height: 0;  
    /*    left: 50px;  */
    /*    top: 150px;  */
    border: 1.6em solid;  
    border-color: $contentBorderColor transparent transparent $contentBorderColor;  
}
div.after_bubble_after{
    z-index: 100;
    content: ' ';  
    position: relative;  
    width: 0;  
    height: 0;  
    left: .15em;  
    top: -3.45em;  
    border: 1.6em solid;  
    border-color: $contentBgColor transparent transparent $contentBgColor;  
}
div.after_bubble_before{
    z-index: 100;
    padding-left:50px;
}

div.after_bubble_min{
    z-index: 100;
    content: ' ';  
    /*       position: absolute; */
    width: 0;  
    height: 0;  
    /*    left: 50px;  */
    /*    top: 150px;  */
    border: .95em solid;  
    border-color: $contentBorderColor transparent transparent $contentBorderColor;  
}
div.after_bubble_after_min{
    z-index: 100;
    content: ' ';  
    position: relative;  
    width: 0;  
    height: 0;  
    left: .15em;  
    top: -2.2em;  
    border: .95em solid;  
    border-color: $contentBgColor transparent transparent $contentBgColor;  
}
div.bubble_min{
    z-index: 0;
    position: relative;  
    /*    width: 200px;  
        height: 100px; */
    /*      */
    background-color: $contentBgColor;
    border: .15em solid $contentBorderColor;  
    -webkit-border-radius: 1em;  
    -moz-border-radius: 1em;  
    border-radius: .5em;  
    /*        -webkit-box-shadow: 2px 2px 4px #888;  
            -moz-box-shadow: 2px 2px 4px #888;  
            box-shadow: 2px 2px 4px #888; */
    padding: .15em;
}
div.bubble_author{
    position: relative;  
    height: 0;  
    left: .15em;  
    top: -3.5em;  
    padding-bottom: .45em;
}
span.comment_name{
    color:$contentColor;
    /*    font-size : 100%;*/
    /*    font-family: Arial,Helvetica,sans-serif; */
    padding-bottom:0.5em;
    font-weight: bold;
}
span.comment_date{
    color:$contentColor;
    font-size : 80%;
    /*    font-family: Arial,Helvetica,sans-serif; */
    padding-bottom:0.5em;
    /*    font-weight: bold;*/
}
span.comment_gra{

}
span.comment_gra img{
    max-width: 40px;
    max-height: 40px;
}
div.bubble_min p{
    padding:0;
}
div.bubble_min img{
    vertical-align: middle;
}
.divlabel{
    float:none;
    display:block;
    width:auto;
    padding-left: 5px;
    font-weight: bold;
    font-size: 14px;
}


/*.svgIcon{
    width:28px;
    height:28px;
}
.svgIcon-light{
    fill:#fff;
}
.svgIcon-dark{
    fill:#000;
}*/
.imgBtnText{
    vertical-align: middle;
    padding-left: 10px;
}
.rssIcon{
    height: 3em;
    width: 3em;
/*    fill: #cc3333;*/
}

.imgBox > img {
    cursor: pointer;
}

video, iframe{
    width: 100%;
    max-height: 80vh;
    border: 0;
}

figure{
    margin: 0;
    width: 100%;
}